#systemSettings section {
  width: 340px;
  margin: 0 auto;
  margin-top: 20px;
}

#systemSettings section:last-child {
  padding-bottom: 30px;
}

#systemSettings section p.caption {
  padding: 0 10px;
  margin-bottom: 8px;
  opacity: 0.5;
  font-weight: bold;
  text-align: left;
}

#systemSettings section div.content {
  border-radius: 10px;
  background-color: var(--button-bg);
  overflow: hidden;
  box-shadow: var(--secondary-box-shadow);
}

#systemSettings section div.content div.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 41px;
  padding: 0 10px;
  transition: background-color 0.2s;
}

#systemSettings section div.content div.option.disabled {
  opacity: 0.5;
}

#systemSettings section div.content div.option.clickable:hover {
  background-color: var(--button-hover-bg);
}

#systemSettings section div.content div.option.clickable:active {
  background-color: var(--button-active-bg);
}

#systemSettings section div.content div.option.chevron div.right {
  height: 16px;
}

#systemSettings section div.content div.option div.right {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
}

#systemSettings section div.content div.option button {
  height: 30px;
}

#systemSettings section div.content div.option button.suggested {
  min-width: unset;
  font-weight: normal;
}

#systemSettings section div.content div.option button.lucide {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 16px;
}

#systemSettings section div.content div.option div.right > span.lucide {
  font-size: 16px;
  opacity: 0.5;
}

#systemSettings section div.content div.option div.name {
  display: flex;
  align-items: center;
  gap: 10px;
}

#systemSettings section div.content div.option div.name img {
  height: 24px;
}

#systemSettings section div.content div.option + div.option {
  border-top: var(--win-border);
}

.theme-light #systemSettings section div.content {
  background-color: var(--win-bg);
  box-shadow: none;
  outline: var(--button-glass-hover-bg) 1px solid;
  outline-offset: -1px;
}
