#systemSettings div.sidebar {
  padding: 10px;
}

#systemSettings div.sidebar button.page {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 7px;
  margin-bottom: 5px;
  background-color: transparent;
  outline: none;
}

#systemSettings div.sidebar button.page:hover {
  background-color: var(--button-glass-bg);
}

#systemSettings div.sidebar button.page:active {
  background-color: var(--button-glass-active-bg);
}

#systemSettings div.sidebar button.page.selected {
  font-weight: bold;
  background-color: var(--accent-transparent);
}

#systemSettings div.sidebar button.page img {
  height: 24px;
}

#systemSettings div.sidebar hr {
  margin: 8px 0;
  /* margin-bottom: 8px; */
  border: none;
  border-top: var(--button-glass-bg) 1px solid;
}

#systemSettings div.sidebar button.account-button {
  padding: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
  background-color: transparent;
  outline: none;
}

#systemSettings div.sidebar button.account-button.selected {
  background-color: var(--accent-transparent);
}

#systemSettings div.sidebar button.account-button p.email {
  opacity: 0.5;
  font-size: 12px;
}

#systemSettings div.sidebar button.account-button p.account-name {
  font-weight: bold;
}
