#systemSettings div.slide-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  transition:
    pointer-events 0.3s,
    background-color 0.3s,
    backdrop-filter 0.3s;
  /* z-index: 1000; */
}

#systemSettings div.slide-wrapper.visible {
  pointer-events: initial;
}

#systemSettings div.slide-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0002;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

#systemSettings div.slide-wrapper.visible::before {
  opacity: 1;
}

#systemSettings div.slide-wrapper div.slide {
  width: 100%;
  height: 100%;
  background-color: var(--win-bg);
  translate: 100% 0;
  transition: translate 0.3s;
  padding: 15px;
  padding-right: 7px;
  padding-top: 50px;
  overflow-y: scroll;
}

#systemSettings div.slide-wrapper.visible div.slide {
  translate: 0;
}
