@import url("./myarcos/drives.css");
@import url("./myarcos/userpaths.css");
@import url("./myarcos/recents.css");

#fileManager > div.body div.my_arcos section {
  margin-bottom: 10px;
}

#fileManager > div.body div.my_arcos section button.expander {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 36px;
  border-radius: 0;
  border-bottom: var(--win-border);
  transition: none;
  outline: none;
}

#fileManager > div.body div.my_arcos section button.expander:hover {
  background-color: var(--accent-transparent);
  border-color: transparent;
  border-radius: 8px;
}

#fileManager > div.body div.my_arcos section button.expander > span:not(.lucide) {
  font-weight: bold;
}

#fileManager > div.body div.my_arcos section button.expander span.lucide {
  font-size: 16px;
  height: 16px;
  transition: rotate 0.1s;
}

#fileManager > div.body div.my_arcos section button.expander.expanded span.lucide {
  rotate: 180deg;
}

#fileManager > div.body div.my_arcos section > div.content {
  padding: 5px 0;
}
