#fileManager > div.body div.recycle_bin {
  padding: 0;
  overflow: hidden;
}

#fileManager > div.body div.recycle_bin div.directory-viewer {
  height: calc(100% - 53px);
  padding-bottom: 15px;
}

#fileManager > div.body div.recycle_bin div.bottom button.lucide {
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 16px;
}

#fileManager > div.body div.recycle_bin div.bottom div.sep {
  width: 1px;
  height: 20px;
  background-color: var(--button-hover-bg);
  margin: 0 5px;
}

.no-trash-service {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  margin: 1em;
}

#fileManager > div.body > div.container > div.main-content > div.virtual-page.recycle_bin > div > p {
  opacity: 0.5;
  font-style: italic;
  transition: color 0.3s !important;
}

#fileManager > div.body > div.container > div.main-content > div.virtual-page.recycle_bin > div > span {
  opacity: 0.5;
  transition: color 0.3s !important;
}
