div.window > div.body input[type="radio"]:not(.switch) {
  appearance: none;
  background-color: var(--button-glass-bg);
  border-radius: 10px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 20px;
}

div.window > div.body input[type="radio"]:not(.switch),
div.window > div.body input[type="radio"]:not(.switch)::after {
  transition: all 100ms ease-out;
}

div.window > div.body input[type="radio"]:not(.switch)::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 0;
  background-color: var(--win-bg);
}

div.window > div.body input[type="radio"]:not(.switch) {
  cursor: pointer;
}

div.window > div.body input[type="radio"]:not(.switch):hover {
  background-color: var(--button-glass-hover-bg);
}

div.window > div.body input[type="radio"]:not(.switch):checked {
  background-color: var(--accent);
}

div.window > div.body input[type="radio"]:not(.switch):checked::after {
  opacity: 1;
}

div.window > div.body input[type="radio"]:not(.switch):checked:hover {
  background-color: var(--accent-light);
}

div.window > div.body input[type="radio"]:not(.switch):disabled {
  background-color: var(--button-active-bg) !important;
  cursor: not-allowed;
}

div.window > div.body input[type="radio"]:not(.switch):disabled:checked::after {
  background-color: var(--accent-dark);
}
