#AdvSystemSettings > div.body div.dispatch-clients {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#AdvSystemSettings > div.body div.dispatch-clients div.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
