.carta-theme__github {
  &.carta-editor {
    background-color: var(--win-bg);
    border: var(--win-border);

    &:focus-within {
      outline: 2px solid var(--accent-transparent);
    }

    .carta-wrapper {
      padding: 1rem;
      flex-grow: 1;
    }

    .carta-input,
    .carta-renderer {
      min-height: 120px;
      max-height: 160px;
      overflow: auto;
    }

    .carta-font-code {
      font-family: "Fira Code", monospace;
      caret-color: var(--fg);
      font-size: 1.1rem;
    }

    .carta-toolbar {
      padding: 0 10px;
      height: 50px;

      background-color: var(--button-bg);
      border-bottom: var(--win-border);

      .carta-icon {
        width: 30px;
        height: 30px;
        padding: 0;

        &:hover {
          color: var(--fg);
          background-color: var(--button-hover-bg);
        }
      }
    }

    .carta-toolbar-left {
      display: flex;
      gap: 10px;

      button {
        height: 30px;
      }

      .carta-active {
        background-color: var(--accent-lighter) !important;
        color: var(--accent-darkest) !important;
        font-weight: bold;
      }
    }

    .carta-toolbar-right {
      display: flex;
      gap: 5px;
    }
  }
}

div.theme-dark .carta-theme__github .shiki,
div.theme-dark .carta-theme__github .shiki span {
  color: var(--shiki-dark) !important;
}
