.carta-theme__github {
  .carta-container {
    height: 100%;
  }

  &.carta-editor {
    background-color: var(--win-bg);
    border: var(--win-border);

    &:focus-within {
      outline: 2px solid var(--accent-transparent);
    }

    .carta-wrapper {
      padding: 1rem;
      flex-grow: 1;
    }

    .carta-input,
    .carta-renderer {
      max-height: unset;
      overflow: auto;
    }

    .carta-font-code {
      font-family: "Source Code Pro", monospace;
      caret-color: var(--fg);
      font-size: 14px;
    }

    .carta-toolbar {
      padding: 0 10px;
      height: 50px;

      background-color: var(--button-bg);
      border-bottom: var(--win-border);

      .carta-icon {
        width: 30px;
        height: 30px;
        padding: 0;

        &:hover {
          color: var(--fg);
          background-color: var(--button-hover-bg);
        }
      }
    }

    .carta-toolbar-left {
      display: flex;
      gap: 10px;

      button {
        height: 30px;
      }

      .carta-active {
        background-color: var(--accent-lighter) !important;
        color: var(--accent-darkest) !important;
        font-weight: bold;
      }
    }

    .carta-toolbar-right {
      display: flex;
      gap: 5px;
    }
  }

  .carta-icons-menu {
    background-color: var(--glass-bg);
    backdrop-filter: blur(10px);
    border: var(--accent-light-transparent) 1px solid;
    padding: 5px;
    border-radius: 10px;
    box-shadow: var(--secondary-box-shadow);
    position: relative;
    z-index: 100000000000000000000000000000000000000000000000000000000 !important;
  }

  .carta-icons-menu button {
    width: 100%;

    text-align: left;
    border: none;
    background-color: transparent !important;
    color: var(--fg);
    border-radius: var(--button-border-rad) !important;
    padding: 0 5px !important;
    line-height: 18px;
    transform: unset;
    position: relative;
    z-index: 1;
    height: 28px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .carta-icons-menu button:hover {
    background-color: var(--accent-light-transparent) !important;
  }

  .carta-icons-menu::before {
    content: " ";
    border-radius: 9px;
    width: calc(100%);
    height: calc(100%);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    opacity: 0.2;
    /* margin: -1px; */
    pointer-events: none;
    transition: all 0.3s !important;
    background-color: var(--accent);
  }
}

div.theme-dark .carta-theme__github .shiki,
div.theme-dark .carta-theme__github .shiki span {
  color: var(--shiki-dark) !important;
}
