:root,
:root .theme-dark {
  --fg: #ddd;
  --win-bg: #1e1e1e;
  --win-border-rad: 10px;
  --win-border: #393939 1px solid;
  --win-border-light: #5554 1px solid;
  --glass-bg: #1e1e1edd;
  --glass-alt-bg: #2a2a2aa9;
  --glass-ultralight: #0004;
  --glass-ultradark: #0008;
  --darkened-overlay: #0002;
  --darkened-overlay-alt: #0004;
  --startmenu-bg: var(--glass-ultradark);
  --startmenu-applist-item-bg: transparent;
  --startmenu-applist-item-bg-hover: #ffffff05;
  --startmenu-applist-item-bg-active: #0001;
  --button-border-rad: 8px;
  --button-bg: #282828;
  --button-hover-bg: #3a3a3a;
  --button-active-bg: #111;
  --button-glass-bg: #fff1;
  --button-glass-hover-bg: #fff3;
  --button-glass-active-bg: #0003;
  --secondary-border: var(--win-bg) 1px solid;
  --clr-red-bg: #452929;
  --clr-red-fg: #ff7e7e;
  --clr-red-bright-fg: #ffbaba;
  --clr-green-bg: #283e28;
  --clr-green-fg: #72e070;
  --clr-green-bright-fg: #bbffba;
  --clr-yellow-bg: #49432e;
  --clr-yellow-fg: #ffe073;
  --clr-yellow-bright-fg: #ffeca8;
  --clr-orange-bg: #543d1b;
  --clr-orange-fg: #ffad32;
  --clr-orange-bright-fg: #ffcb7d;
  --clr-blue-bg: #273a48;
  --clr-blue-fg: #96d3ff;
  --clr-blue-bright-fg: #abdcff;
  --clr-aqua-fg: #79ffd0;
  --clr-aqua-bg: #214538;
  --clr-aqua-bright-fg: #a3ffdf;
  --clr-magenta-bg: #402145;
  --clr-magenta-fg: #ed79ff;
  --clr-magenta-bright-fg: #f3a3ff;
  --clr-purple-bg: #2f2145;
  --clr-purple-fg: #ac79ff;
  --clr-purple-bright-fg: #c6a3ff;
  --secondary-box-shadow: 0 2px 5px 2px #0004;
}

:root {
  --accent: dodgerblue;
  --accent-dark: rgb(0, 94, 126);
  --accent-light: #80dfff;
  --accent-darkest: rgb(0, 46, 61);
  --elevated-accent-filter: brightness(300%) saturate(150%);
}

:root .theme-dark.noglass {
  --glass-bg: #1e1e1e !important;
  --glass-alt-bg: #2a2a2a !important;
  --glass-ultralight: #222 !important;
  --glass-ultradark: #111 !important;
  --blur: 0px;
}

.noglass * {
  backdrop-filter: unset;
}
