:root .theme-light {
  --fg: #333;
  --win-bg: #fff;
  --win-border-rad: 10px;
  --win-border: rgb(192, 192, 192) 1px solid;
  --win-border-light: rgb(195, 195, 195) 1px solid;
  --glass-bg: #ffffffdd;
  --glass-alt-bg: #ffffff44;
  --glass-ultralight: rgba(255, 255, 255, 0.267);
  --glass-ultradark: rgba(232, 232, 232, 0.64);
  --darkened-overlay: #0001;
  --darkened-overlay-alt: #0003;
  --startmenu-bg: var(--glass-bg);
  --startmenu-applist-item-bg: transparent;
  --startmenu-applist-item-bg-hover: #00000005;
  --startmenu-applist-item-bg-active: rgba(0, 0, 0, 0.067);
  --button-border-rad: 6px;
  --button-bg: #eeeeee;
  --button-hover-bg: #dddddd;
  --button-active-bg: #cccccc;
  --button-glass-bg: rgba(0, 0, 0, 0.067);
  --button-glass-hover-bg: rgba(0, 0, 0, 0.05);
  --button-glass-active-bg: rgba(0, 0, 0, 0.1);
  --clr-red-bg: #ffc5c5;
  --clr-red-fg: #c50000;
  --clr-red-bright-fg: #ff1717;
  --clr-green-bg: #92ff8f;
  --clr-green-fg: #299126;
  --clr-green-bright-fg: #48ff43;
  --clr-yellow-bg: #ffecaa;
  --clr-yellow-fg: #a58b2f;
  --clr-yellow-bright-fg: #ffd749;
  --clr-orange-bg: #ffe1b5;
  --clr-orange-fg: #af7011;
  --clr-orange-bright-fg: #ffa319;
  --clr-blue-bg: #8fd0ff;
  --clr-blue-fg: #1566a0;
  --clr-blue-bright-fg: #58b9ff;
  --clr-aqua-bg: #ddfff3;
  --clr-aqua-fg: #39a17d;
  --clr-aqua-bright-fg: #5affc6;
  --clr-magenta-bg: #f08fff;
  --clr-magenta-fg: #8d15a0;
  --clr-magenta-bright-fg: #e121ff;
  --clr-purple-bg: #c7a4ff;
  --clr-purple-fg: #6139a1;
  --clr-purple-bright-fg: #995aff;
  --accent-darken: brightness(0.7);
  --secondary-border: var(--win-bg) 1px solid;
  --secondary-box-shadow: 0 2px 5px 2px #0002;
}

:root .theme-light.noglass {
  --glass-bg: #fff;
  --glass-alt-bg: #eee;
  --glass-ultralight: #eeeeee;
  --glass-ultradark: #bbbbbb;
}

.theme-light #arcShell > div.body * {
  --button-glass-bg: #ffffffea !important;
}
