div.shell div.startmenu div.top div.app-list {
  width: calc(100% - 170px);
  height: 100%;

  padding: 5px;
  padding-right: 0;
  overflow-y: scroll;
}
div.shell div.startmenu div.top div.app-list button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  background-color: transparent;
  text-align: left;
}

div.shell div.startmenu div.top div.app-list button.no-safemode {
  opacity: 0.7;
  filter: grayscale(100%);
}

.theme-light #arcShell > div.body div.shell div.startmenu div.top div.app-list button {
  --button-glass-bg: #0001 !important;
}

div.shell div.startmenu div.top div.app-list button span p,
div.shell div.startmenu div.top div.app-list button span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.shell div.startmenu div.top div.app-list button span p.description {
  opacity: 0.5;
}

div.shell div.startmenu div.top div.app-list button span {
  max-width: calc(100% - 34px);
  display: block;
}

div.shell div.startmenu div.top div.app-list button img {
  height: 24px;
}

div.shell div.startmenu div.top div.app-list button:hover {
  background-color: var(--button-glass-bg);
}

div.shell div.startmenu div.top div.searching p.no-results {
  text-align: center;
  margin-top: 20px;
  opacity: 0.5;
}
div.shell div.startmenu div.top div.app-list.searching {
  overflow-y: hidden;
}

div.shell div.startmenu div.top div.app-list.searching button.selected {
  background-color: var(--accent-transparent);
}

div.shell div.startmenu div.top div.app-list button.expander span.lucide {
  font-size: 16px;
  margin-left: auto;
  opacity: 0.5;
  width: 16px;
  height: 16px;
  transition: transform 0.1s;
}

div.shell div.startmenu div.top div.app-list div.app-group div.items {
  padding-left: 15px;
}

div.shell div.startmenu div.top div.app-list button.expander.expanded {
  background-color: var(--accent-transparent);
}

div.shell div.startmenu div.top div.app-list button.expander.expanded span.lucide {
  transform: rotate(90deg);
}
