div.shell div.startmenu div.top div.right-pane button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  width: 100%;
  background-color: transparent;
}

div.shell div.startmenu div.top div.right-pane > div.content {
  border-top: var(--button-glass-bg) 1px solid;
  margin-top: 5px;
  padding-top: 5px;
  height: calc(100% - 40px);
  overflow-y: scroll;
}

div.shell div.startmenu div.top div.right-pane button:hover {
  background-color: var(--button-glass-bg);
}

div.shell div.startmenu div.top div.right-pane button:active {
  background-color: var(--button-glass-active-bg);
}

div.shell div.startmenu div.top div.right-pane button.user-button {
  font-weight: bold;
}

div.shell div.startmenu div.top div.right-pane button img {
  width: 24px;
  height: 24px;
}

div.shell div.startmenu div.top div.right-pane button span {
  display: block;
  width: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

div.shell div.startmenu div.top div.right-pane {
  width: 170px;
  background-color: var(--shell-component-bg);
  border-radius: 10px;
  padding: 10px;
  box-shadow: var(--secondary-box-shadow);
  outline: var(--button-glass-hover-bg) 1px solid;
  outline-offset: -1px;
}

.theme-light div.shell div.startmenu div.top div.right-pane button:hover {
  background-color: var(--glass-ultradark);
}
