#AdminPortal .container.tokens div.token-list {
  overflow-y: scroll;
  height: 100%;
}

#AdminPortal .container.tokens div.token-list::-webkit-scrollbar {
  display: none;
}

#AdminPortal .container.tokens div.row.header {
  font-weight: bold;
  background-color: var(--button-bg);
}

#AdminPortal .container.tokens div.row.header button {
  padding: 0;
  background-color: transparent;
  color: var(--accent-lighter);
  font-weight: bold;
  border-radius: 0;
}

#AdminPortal .container.tokens div.row {
  height: 36px;
  border-bottom: var(--win-border);
  display: flex;
  align-items: center;
}
#AdminPortal .container.tokens div.segment.icon {
  width: 36px;
  height: 35px;
  border-right: var(--win-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

#AdminPortal .container.tokens div.segment.icon span.lucide {
  font-size: 16px;
  color: var(--accent-light);
}

#AdminPortal .container.tokens div.segment.author {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  font-weight: bold;
  flex-grow: 1;
}

#AdminPortal .container.tokens div.segment {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#AdminPortal .container.tokens div.segment.actions {
  display: flex;
  /* height: 35px; */
  width: 116px;
  text-align: center;
  justify-content: center;
}

#AdminPortal .container.tokens div.segment.actions button {
  height: 35px;
  border-radius: 0;
  border-left: var(--win-border);
  padding: 0 10px;
  width: 58px;
}

#AdminPortal .container.tokens div.segment.last-used,
#AdminPortal .container.tokens div.segment.browser,
#AdminPortal .container.tokens div.segment.os {
  width: 120px;
}
#AdminPortal .container.tokens div.segment.times-used {
  width: 100px;
}
