#MailbrokerApp > div.body {
  div.template-listing {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;

    > div.header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 10px;

      > h1 {
        font-size: 14px;
        padding: 0 10px;
        margin-right: auto;
      }

      > div.search-bar {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 30px;
        padding: 0 8px;
        border: var(--button-glass-bg) 1px solid;
        border-radius: 8px;
        background-color: var(--button-glass-bg);

        > input {
          height: 100%;
          border: none;
          border-radius: 0;
          padding: 0;
          background-color: transparent;
        }

        > span.lucide {
          font-size: 16px;
          opacity: 0.5;
        }
      }

      > button.new-template {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0 10px;
        height: 30px;
        min-width: unset;

        > span.lucide {
          font-weight: normal;
        }
      }
    }

    > div.templates {
      height: 0;
      flex-grow: 1;
      overflow-y: auto;

      > p.empty-notice {
        padding: 10px;
        border: var(--button-glass-bg) 1px solid;
        border-radius: 10px;
        text-align: center;

        > span {
          opacity: 0.5;
        }
      }

      > button.template-listing-option {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        text-align: left;
        background-color: transparent;
        padding: 10px;

        &:hover {
          background-color: var(--button-glass-bg);
        }

        > span.lucide {
          font-size: 24px;
          color: var(--accent-light);
          margin: 0 5px;
        }

        div.info p.subject {
          opacity: 0.5;
          margin-bottom: 8px;
          font-size: 12px;
        }
      }
    }
  }
}
