#logging > div.body div.sidebar {
  height: 100%;
  width: 200px;
  min-width: 200px;
  border-right: var(--win-border);
  overflow-y: scroll;
  padding: 10px;
  padding-right: 2px;
}

#logging > div.body div.sidebar button {
  width: 100%;
  height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 7px;
  margin-bottom: 5px;
  background-color: transparent;
}

#logging > div.body div.sidebar button > span:not(.lucide) {
  max-width: calc(100% - 16px - 15px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#logging > div.body div.sidebar button.selected {
  background-color: var(--accent-transparent);
}

#logging > div.body div.sidebar button img {
  width: 16px;
  height: 16px;
}

#logging > div.body div.sidebar button span.lucide {
  font-size: 16px;
  color: var(--accent-light);
}

#logging > div.body div.sidebar button .circular-progress {
  margin-left: auto;
}

#logging > div.body div.sidebar button:hover {
  background-color: var(--button-glass-bg);
}

#logging > div.body div.sidebar button:active {
  background-color: var(--button-glass-active-bg);
}
