#arcShell div.taskbar div.calendar-popup {
  --w: 392px;
  --h: 502px;
  position: absolute;
  top: calc(0px - var(--h) - 10px);
  width: var(--w);
  height: var(--h);
  background-color: var(--win-bg);
  backdrop-filter: blur(var(--glass-blur));
  border: var(--border);
  border-radius: var(--win-border-rad);
  margin-top: 20px;
  opacity: 0;
  pointer-events: none !important;
  overflow: hidden;
  transition:
    scale 0.2s,
    margin 0.2s,
    opacity 0.2s;
  padding: 10px;
}

.theme-light div.taskbar div.calendar-popup::before {
  opacity: 0.1;
}

#arcShell div.taskbar div.calendar-popup:not(.opened) * {
  pointer-events: none !important;
}

#arcShell div.taskbar div.calendar-popup > div {
  border-radius: 10px;
  box-shadow: 0 2px 5px 2px #0002;
  outline: var(--shell-component-outline) 1px solid;
  outline-offset: -1px;
  background-color: var(--shell-component-bg);
}

#arcShell div.taskbar div.calendar-popup div.top {
  width: 370px;
  height: 105px;
  /* height: 50%; */
  margin-top: auto;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: space-between;
}

#arcShell div.taskbar div.calendar-popup div.top h1.date {
  font-size: 28px;
}

#arcShell div.taskbar div.calendar-popup div.top h1.time {
  font-size: 48px;
  line-height: 60px;
  font-family: "fredoka";
  font-weight: 500;
}

#arcShell div.taskbar div.calendar-popup div.top p.week {
  font-size: 18px;
  font-weight: 100;
}

#arcShell div.taskbar div.calendar-popup.opened {
  opacity: 1;
  margin-top: 0;
  pointer-events: initial !important;
  /** Don't remove the below scale call, it glitches out otherwise. */
  scale: 1;
}

#arcShell div.taskbar div.calendar-popup div.calendar {
  width: 370px;
  height: 315px;
  padding: 10px;
}

#arcShell div.taskbar div.calendar-popup div.calendar div.header,
#arcShell div.taskbar div.calendar-popup div.calendar div.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;
}

#arcShell div.taskbar div.calendar-popup div.calendar div.day {
  width: 50px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#arcShell div.taskbar div.calendar-popup div.calendar div.day.past,
#arcShell div.taskbar div.calendar-popup div.calendar div.day.future {
  opacity: 0.5;
}

#arcShell div.taskbar div.calendar-popup div.calendar div.day p.day-number {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
}

#arcShell div.taskbar div.calendar-popup div.calendar div.day p.day-number:hover {
  background-color: var(--button-glass-bg);
}
#arcShell div.taskbar div.calendar-popup div.calendar div.day.today p.day-number {
  background-color: var(--accent-light);
  color: var(--win-bg) !important;
}

#arcShell div.taskbar div.calendar-popup div.calendar div.header {
  font-weight: bold;
  opacity: 0.5;
  margin-bottom: 10px;
}

#arcShell div.taskbar div.calendar-popup div.calendar div.header div.day {
  justify-content: center;
}

#arcShell div.taskbar div.calendar-popup div.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding: 0 15px;
  padding-right: 10px;
  border-bottom: var(--button-glass-hover-bg) 1px solid;
}

#arcShell div.taskbar div.calendar-popup div.controls p.selected-date {
  font-size: 16px;
  font-weight: bold;
}

#arcShell div.taskbar div.calendar-popup div.controls button.today {
  height: 30px;
  padding: 0 10px;
}

#arcShell div.taskbar div.calendar-popup div.controls button.lucide {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 16px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arcShell div.taskbar div.calendar-popup div.controls button.lucide:hover {
  background-color: var(--button-glass-bg);
}

#arcShell div.taskbar div.calendar-popup div.controls button.lucide:active {
  background-color: var(--button-glass-active-bg);
}

#arcShell div.taskbar div.calendar-popup div.buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#arcShell div.taskbar div.calendar-popup div.buttons button.today {
  background-color: transparent;
}

#arcShell div.taskbar div.calendar-popup div.buttons button.today:hover {
  background-color: var(--button-glass-bg);
}
#arcShell div.taskbar div.calendar-popup div.buttons button.today:active {
  background-color: var(--button-glass-active-bg);
}
