div.shell div.taskbar div.pinned-apps {
  height: 40px;
  padding: 3px;
  background-color: var(--shell-component-bg);
  border-radius: 10px;
  outline: var(--shell-component-outline) 1px solid;
  outline-offset: -1px;
}

div.shell div.taskbar div.pinned-apps img {
  height: 24px;
}

div.shell div.taskbar div.pinned-apps > button {
  width: 34px;
  height: 34px;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 7px;
}

#arcShell div.shell div.taskbar div.pinned-apps > button:hover {
  background-color: var(--button-glass-hover-bg);
}

#arcShell div.shell div.taskbar div.pinned-apps > button:active {
  background-color: var(--button-glass-active-bg);
}

.theme-light #arcShell div.shell div.taskbar div.pinned-apps > button:hover {
  background-color: var(--shell-component-bg);
  filter: brightness(0.95);
}

.theme-light #arcShell div.shell div.taskbar div.pinned-apps > button:active {
  opacity: 0.5;
  filter: brightness(0.9);
}

div.shell div.taskbar div.pinned-apps > button + button {
  margin-left: 3px;
}
