#systemSettings div.container.account {
  overflow: hidden;
}

#systemSettings div.container.account div.page-content {
  /* transition: opacity 0.3s !important; */
  scale: 1 !important;
  /* height: calc(100% + 40px); */
  /* translate: 0 -40px; */
  /* padding-top: 40px; */
  overflow: visible;
}

#systemSettings div.container.account div.header div.profile-picture {
  position: relative;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  margin-bottom: 15px;
}

#systemSettings div.container.account div.header div.profile-picture div.pfprenderer {
  mask-image: url(../../../../../assets/settings/account-header-cutout.svg);
  border-radius: 0;
}

#systemSettings div.container.account div.pfprenderer.backdrop {
  width: 100% !important;
  height: 100% !important;
  max-height: unset !important;
  min-height: unset !important;
  max-width: unset !important;
  min-width: unset !important;
  border-radius: 25%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  translate: 0 -50%;
  z-index: 0;
  filter: blur(40px);
}

#systemSettings div.container.account div.centered-layout {
  position: relative;
  z-index: 0;
}

#systemSettings div.container.account div.profile-picture div.change-menu {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 15px;
  position: absolute;
  bottom: 5px;
  right: 4px;
  background-color: var(--button-bg) !important;
  outline-offset: -1px !important;
  transition:
    width 0.3s,
    margin-left 0.3s;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

#systemSettings div.container.account div.profile-picture div.change-menu:hover {
  width: 120px;
}

#systemSettings div.container.account div.profile-picture div.change-menu:hover div.inner {
  margin-left: 0;
}

#systemSettings div.change-menu div.inner {
  transition: margin-left 0.3s;
  display: flex;
  align-items: center;
  min-width: fit-content;
  background-color: var(--button-bg);
  border-radius: 15px;
  margin-left: -120px;
  overflow: hidden;
}

#systemSettings div.change-menu div.inner > span {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

#systemSettings div.change-menu button {
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  border-radius: 15px;
  font-size: 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

#systemSettings div.change-menu button:hover {
  background-color: var(--button-hover-bg);
}

#systemSettings div.container.account div.header h1.account-name {
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#systemSettings div.container.account div.header h1.account-name input {
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  border-bottom: var(--button-glass-hover-bg) 1px solid;
  border-radius: 0;
  background-color: transparent;
}

#systemSettings div.container.account div.header h1.account-name > span {
  border-bottom: transparent 1px solid;
}

#systemSettings div.container.account div.header h1.account-name button {
  width: 16px;
  height: 16px;
  padding: 0;
  font-size: 16px;
  background-color: transparent;
  opacity: 0.5;
  margin-right: -26px;
  opacity: 0;
  outline: none;
}

#systemSettings div.container.account div.header h1.account-name.editing button,
#systemSettings div.container.account div.header h1.account-name:hover button {
  opacity: 1;
}
#systemSettings div.container.account div.header h1.account-name.editing button {
  color: var(--clr-green-fg);
}

#systemSettings div.container.account div.header p.email {
  opacity: 0.5;
}
