#systemSettings div.securityCenter div.option.danger-zone {
  background-color: var(--clr-red-bg) !important;
}

#systemSettings div.securityCenter div.option.danger-zone.disabled {
  background-color: var(--clr-green-bg) !important;
}

#systemSettings div.securityCenter div.danger-zone-content {
  padding: 10px;
  text-align: left;
  border-top: var(--win-border);
}

#systemSettings div.securityCenter div.danger-zone-content button {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
  margin-top: 10px;
}

#systemSettings div.securityCenter div.danger-zone-content button img {
  height: 16px;
}
