#systemSettings div.container.themes div.setting.color-picker input {
  border: none;
  width: 0px;
  height: 0px;
  padding: 0;
  min-width: unset !important;
  flex-grow: 0;
  margin-left: -5px;
  opacity: 0;
}

#systemSettings div.container.themes div.setting.color-picker button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 0;
}

#systemSettings div.container.themes div.setting.color-picker div.right {
  height: 20px;
}

#systemSettings div.container.themes div.setting.theme-selector div.left {
  flex-grow: 1;
}

#systemSettings div.container.themes div.setting.theme-selector select {
  appearance: none;
  width: 100%;
  background-color: var(--win-bg);
}

#systemSettings div.container.themes button.save-theme {
  width: fit-content;
  margin-top: 5px;
}

#systemSettings div.container.themes div.setting.theme-selector p.sub {
  /* opacity: 1; */
  display: flex;
  align-items: center;
}

#systemSettings
  div.container.themes
  div.setting.theme-selector
  p.sub
  span.lucide {
  height: 16px;
  width: 16px;
  font-size: 16px;
}

#systemSettings div.container.themes button.user-theme {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 70px;
  width: 70px;
  padding: 5px !important;
  margin: 0 !important;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  outline: 1px solid var(--button-hover-bg) !important;
  background: var(--url);
  background-position: center;
  background-size: cover;
  background-color: transparent;
}

#systemSettings div.container.themes button.user-theme div.selected-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: var(--accent-dark);
  background-color: var(--accent);
  opacity: 0;
  transition: opacity 0.3s, scale 0.3s;
}

#systemSettings
  div.container.themes
  button.user-theme
  div.selected-overlay
  span {
  color: inherit;
}

#systemSettings
  div.container.themes
  button.user-theme.selected
  div.selected-overlay {
  opacity: 1;
}
#systemSettings div.container.themes button.user-theme img {
  object-fit: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#systemSettings div.container.themes button.user-theme div.fake-window {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: var(--win-bg);
  border-radius: 5px;
  position: relative;
  border: var(--win-border);
}
#systemSettings
  div.container.themes
  button.user-theme
  div.fake-window
  div.fake-button {
  width: 20px;
  height: 5px;
  background-color: var(--accent);
  border-radius: 2.5px;
}

#systemSettings div.container.themes div.theme-section {
  margin-top: 15px;
}

#systemSettings div.container.themes div.theme-section p.name {
  opacity: 0.5;
  font-weight: bold;
  margin-bottom: 10px;
}

#systemSettings div.container.themes div.theme-section div.themes {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  gap: 15px;
}

#systemSettings div.container.themes div.theme-section div.themes.empty {
  display: block;
}

#systemSettings div.container.themes div.theme-section div.themes p.none {
  line-height: 40px;
  text-align: center;
  opacity: 0.5;
  border: var(--button-bg) 1px solid;
  border-radius: 10px;
}
