.code-editor-wrapper textarea,
.code-editor-wrapper pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.code-editor-wrapper code.hljs {
  padding: 3px 5px;
}
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.theme-dark .code-editor-wrapper {
  background: var(--win-bg);
}

.theme-dark .code-editor-wrapper .hljs {
  color: var(--fg);
  background: var(--win-bg);
}
.theme-dark .code-editor-wrapper .hljs-comment,
.theme-dark .code-editor-wrapper .hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.theme-dark .code-editor-wrapper .hljs-doctag,
.theme-dark .code-editor-wrapper .hljs-keyword,
.theme-dark .code-editor-wrapper .hljs-formula {
  color: #c678dd;
}
.theme-dark .code-editor-wrapper .hljs-section,
.theme-dark .code-editor-wrapper .hljs-name,
.theme-dark .code-editor-wrapper .hljs-selector-tag,
.theme-dark .code-editor-wrapper .hljs-deletion,
.theme-dark .code-editor-wrapper .hljs-subst {
  color: #e06c75;
}
.theme-dark .code-editor-wrapper .hljs-literal {
  color: #56b6c2;
}
.theme-dark .code-editor-wrapper .hljs-string,
.theme-dark .code-editor-wrapper .hljs-regexp,
.theme-dark .code-editor-wrapper .hljs-addition,
.theme-dark .code-editor-wrapper .hljs-attribute,
.theme-dark .code-editor-wrapper .hljs-meta .hljs-string {
  color: #98c379;
}
.theme-dark .code-editor-wrapper .hljs-attr,
.theme-dark .code-editor-wrapper .hljs-variable,
.theme-dark .code-editor-wrapper .hljs-template-variable,
.theme-dark .code-editor-wrapper .hljs-type,
.theme-dark .code-editor-wrapper .hljs-selector-class,
.theme-dark .code-editor-wrapper .hljs-selector-attr,
.theme-dark .code-editor-wrapper .hljs-selector-pseudo,
.theme-dark .code-editor-wrapper .hljs-number {
  color: #d19a66;
}
.theme-dark .code-editor-wrapper .hljs-symbol,
.theme-dark .code-editor-wrapper .hljs-bullet,
.theme-dark .code-editor-wrapper .hljs-link,
.theme-dark .code-editor-wrapper .hljs-meta,
.theme-dark .code-editor-wrapper .hljs-selector-id,
.theme-dark .code-editor-wrapper .hljs-title {
  color: #61aeee;
}
.theme-dark .code-editor-wrapper .hljs-built_in,
.theme-dark .code-editor-wrapper .hljs-title.class_,
.theme-dark .code-editor-wrapper .hljs-class .hljs-title {
  color: #e6c07b;
}
.theme-dark .code-editor-wrapper .hljs-emphasis {
  font-style: italic;
}
.theme-dark .code-editor-wrapper .hljs-strong {
  font-weight: bold;
}
.theme-dark .code-editor-wrapper .hljs-link {
  text-decoration: underline;
}
