#BugHunt > div.body div.sidebar div.tabs {
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  align-items: end;
  gap: 10px;
  border-bottom: var(--accent-lighter) 1px solid;
  height: 40px;
}

#BugHunt > div.body div.sidebar div.tabs > button {
  font-weight: normal;
  min-width: unset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 28px;
  padding: 0 15px;
}
