div.shell div.actioncenter div.top div.card-stack div.card.weather {
  --gradient-start: #41aaff;
  --gradient-end: #71b2c8;
  background: linear-gradient(to bottom right, var(--gradient-start) 0%, var(--gradient-end) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px;
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: center;
  transition: background 0.3s;
  position: relative;
}

div.shell div.actioncenter div.top div.card-stack div.card.weather::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0002;
  transition: background-color 0.3s;
}

div.shell div.actioncenter div.top div.card-stack div.card.weather.night::before {
  background-color: #0008;
}

div.shell div.actioncenter div.top div.card-stack div.card.weather * {
  z-index: 100;
}

div.shell div.actioncenter div.top div.card-stack div.card.weather span.condition-icon {
  color: var(--color, var(--fg));
}

div.shell div.actioncenter div.top div.card-stack div.card.weather * {
  color: #fff;
}

div.shell div.actioncenter div.top div.card-stack div.card.weather.errored,
div.shell div.actioncenter div.top div.card-stack div.card.weather.loading {
  align-items: center;
  justify-content: center;
}

div.shell div.actioncenter div.top div.card.weather.errored p {
  text-align: center;
  opacity: 1 !important;
}

div.shell div.actioncenter div.top div.card.weather.errored button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  margin-top: 10px;
}

div.shell div.actioncenter div.top div.card-stack div.card.weather h1 {
  font-size: 28px;
  line-height: 40px;
  font-family: "fredoka";
  font-weight: 500;
}
div.shell div.actioncenter div.top div.card-stack div.card.weather p {
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: 5px;
}

div.shell div.actioncenter div.top div.card-stack div.card.weather p button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
