div.window:not(.core) > div.body {
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  padding: 15px;
  border-top: var(--win-border);
}
div.window:not(.core).headless > div.body {
  border-top: none;
  height: 100%;
}
