div.window div.body button:not(.reset) {
  border: none;
  border-radius: var(--button-border-rad);
  padding: 6px 15px;
  background-color: var(--button-bg, #4a4a4a);
  color: var(--fg, #ccc);
  transition: opacity 0.2s, background-color 0.2s, filter 0.2s, scale 0.2s;
  font-size: var(--font-size);
  text-align: center;
}

div.window div.body button:not(.reset):hover {
  background-color: var(--button-hover-bg, #555555);
}

button:not(.reset):not(:disabled):active {
  /* scale: 0.95; */
  opacity: 0.8;
}

div.window div.body button:not(.reset).link {
  margin: 0;
  padding: 0;
  color: var(--accent-light);
  background-color: transparent !important;
  text-decoration: underline;
  text-underline-offset: 2px;
  width: fit-content;
}

div.window div.body button:not(.reset):disabled {
  opacity: 0.3;
}

div.window div.body button:not(.reset):not(:disabled):active {
  background-color: var(--button-active-bg, #2a2a2a);
}

div.window div.body button:not(.reset).suggested {
  background-color: var(--accent-light) !important;
  color: var(--accent-darkest);
  min-width: 80px;
  box-shadow: 0 1px 2px 1px #0000001c;
  opacity: 1 !important;
  font-weight: bold;
}

div.window div.body button:not(.reset).suggested:disabled {
  opacity: 0.5 !important;
}

div.window div.body button:not(.reset).suggested:hover {
  filter: brightness(1.3);
}

div.window div.body button:not(.reset).suggested:active {
  filter: brightness(0.8);
}

div.window.glass
  > div.body
  button:not(.reset):not(.suggested):not(.menu-item):not(.no-glass) {
  background-color: var(--button-glass-bg, #fff1);
}

div.window.glass
  > div.body
  button:not(.reset):not(.suggested):not(.menu-item):not(.no-glass):hover {
  background-color: var(--button-glass-hover-bg, #fff3);
}

div.window.glass
  > div.body
  button:not(.reset):not(.suggested):not(.menu-item):not(.no-glass):active {
  background-color: var(--button-glass-active-bg, #0005);
}
