div.window div.titlebar div.controls {
  display: flex;
  gap: 2px;
  height: 16px;
  position: relative;
}

div.window div.titlebar div.controls button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 16px;
  width: 18px;
  height: 16px;
  color: var(--fg);
  transition: opacity 0.2s;
}

div.window div.titlebar div.controls button:hover {
  color: var(--accent-light);
}

div.window div.titlebar div.controls button:disabled,
div.window div.titlebar div.controls button:active {
  opacity: 0.2;
}
