@import url("./controls/traffic.css");

div.window > div.body div.titlebar.custom div.controls,
div.window > div.titlebar div.controls {
  display: flex;
  gap: 2px;
  height: 16px;
  position: relative;
  margin-left: auto;
}

div.window > div.body div.titlebar.custom button.feedback + div.controls,
div.window > div.titlebar button.feedback + div.controls {
  margin-left: 0;
}

div.window > div.body div.titlebar.custom div.controls button,
div.window > div.titlebar div.controls button {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  border: none;
  font-size: 16px;
  width: 18px;
  height: 16px;
  color: var(--fg);
  transition: opacity 0.2s;
}

div.window div.titlebar div.alt-menu {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 10px;
  margin-left: 5px;
  border-left: var(--button-glass-hover-bg) 1px solid;
}

.hide-altmenus div.window div.titlebar div.alt-menu {
  opacity: 0;
  transition: opacity 0.2s;
}

.hide-altmenus div.window div.titlebar div.alt-menu:has(button.selected),
.hide-altmenus div.window div.titlebar:hover div.alt-menu {
  opacity: 1;
}

div.window div.titlebar div.alt-menu button {
  margin: 0;
  padding: 0 10px;
  height: 24px;
  background-color: transparent;
  color: var(--fg);
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
  min-width: unset;
}

div.window > div.titlebar div.alt-menu button:hover {
  background-color: var(--button-glass-bg);
}
div.window > div.body div.titlebar.custom div.controls button:hover,
div.window > div.titlebar div.controls button:hover {
  color: var(--accent-light);
}

div.window > div.body div.titlebar.custom div.controls button:disabled,
div.window > div.body div.titlebar.custom div.controls button:active,
div.window > div.titlebar div.controls button:disabled,
div.window > div.titlebar div.controls button:active {
  opacity: 0.2;
}

div.window div.titlebar div.alt-menu.hidden {
  display: none;
}

div.window div.titlebar div.alt-menu button.selected {
  background-color: var(--accent-light-transparent) !important;
}
