div.window.core {
  /* background-color: #000; */
  min-width: unset;
  min-height: unset;
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  transform: none;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.2s,
    pointer-events 0s;
}

div.window.core.visible:not(.closing) {
  opacity: 1;
  pointer-events: visible;
}

div.window.core.closing {
  opacity: 0;
  pointer-events: none;
}

div.window.core div.body {
  width: 100%;
  height: 100%;
  padding: 0;
}
