div.window div.body input,
div.window div.body select {
  background-color: var(--win-bg);
  border: var(--win-border);
  color: var(--fg);
  border-radius: var(--button-border-rad);
  padding: 6px 10px;
}

div.window.glass div.body input,
div.window.glass div.body select {
  background-color: var(--win-glass-bg);
}

div.window.glass div.body select.flat {
  border: none;
  padding: 0;
  margin: 0;
  background-color: inherit;
  color: inherit;
  box-shadow: none;
  border-radius: 0;
}
div.window.glass div.body select.compact {
  padding: 0 5px;
}
