div.window:not(.core).maximized {
  translate: 0 0 !important;
  transform: none !important;
  border-radius: 0 !important;
  resize: none !important;
  border: none !important;
  transition: all 0.3s !important;
}

.tb-horizontal-bottom div.window:not(.core).maximized {
  /* position: fixed !important; */
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: calc(100% - var(--taskbar-allocation)) !important;
  min-height: calc(100% - var(--taskbar-allocation)) !important;
  max-height: calc(100% - var(--taskbar-allocation)) !important;
}

.tb-horizontal-top div.window:not(.core).maximized {
  /* position: fixed !important; */
  top: var(--taskbar-allocation) !important;
  left: 0 !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: calc(100% - var(--taskbar-allocation)) !important;
  min-height: calc(100% - var(--taskbar-allocation)) !important;
  max-height: calc(100% - var(--taskbar-allocation)) !important;
}
.tb-vertical-left div.window:not(.core).maximized {
  /* position: fixed !important; */
  top: 0 !important;
  left: var(--taskbar-allocation) !important;
  width: calc(100% - var(--taskbar-allocation)) !important;
  min-width: calc(100% - var(--taskbar-allocation)) !important;
  max-width: calc(100% - var(--taskbar-allocation)) !important;
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
}
.tb-vertical-right div.window:not(.core).maximized {
  /* position: fixed !important; */
  top: 0 !important;
  left: 0 !important;
  width: calc(100% - var(--taskbar-allocation)) !important;
  min-width: calc(100% - var(--taskbar-allocation)) !important;
  max-width: calc(100% - var(--taskbar-allocation)) !important;
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
}
