div.window-overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-color: #0004;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000000000000;
  transition:
    opacity 0.3s,
    pointer-events 0s,
    visiblity 0.3s;
  opacity: 0;
}

div.window-overlay-wrapper div.window.overlay.visible,
div.window-overlay-wrapper div.window.overlay.visible * {
  pointer-events: initial;
}

div.window-overlay-wrapper div.window.overlay div.titlebar.custom {
  opacity: 1 !important;
}

div.window-overlay-wrapper div.window.overlay div.titlebar:not(.custom) {
  display: none;
}
div.window-overlay-wrapper div.window.overlay div.body {
  border-top: none;
  height: 100%;
}

div.window-overlay-wrapper.visible:not(.closing) {
  opacity: 1;
}
div.window-overlay-wrapper.visible.closing {
  opacity: 0;
  pointer-events: none !important;
  visibility: hidden !important;
}
