#AppStore div.page.home {
  padding: 30px 60px;
}

#AppStore div.page.home div.hero {
  width: 100%;
  /* aspect-ratio: 450 / 180; */
  min-height: 180px;
  max-width: 600px;
  max-height: 230px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 20px;
  position: relative;
  background-color: var(--win-bg);
  text-align: left;
  box-shadow: var(--secondary-box-shadow);
  border: var(--button-glass-bg) 1px solid;
}

#AppStore div.page.home div.hero img.banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
  opacity: 0.3;
}

#AppStore div.page.home div.hero img.banner.fallback {
  filter: blur(20px);
  opacity: 0.5;
}

#AppStore div.page.home div.hero div.info {
  padding: 20px;
  background: linear-gradient(to top right, var(--win-bg) 0%, transparent 100%);
  flex-grow: 1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#AppStore div.page.home div.hero div.info,
#AppStore div.page.home div.hero > button {
  z-index: 1000;
}

#AppStore div.page.home div.hero h1 {
  font-size: 22px;
  margin: 5px 0;
}

#AppStore div.page.home div.hero img {
  height: 48px;
  width: 48px;
  object-fit: contain;
  background-color: var(--button-glass-bg);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

#AppStore div.page.home div.hero p.stats {
  opacity: 0.5;
  font-size: 12px;
}
