#AppStore div.page.madeByYou {
  padding: 0 60px;
}

#AppStore div.page.madeByYou div.app-row:hover {
  background-color: var(--button-hover-bg);
}

#AppStore div.page.madeByYou div.app-row:active {
  background-color: var(--button-active-bg);
}
