#AppStore div.page.viewStoreItem div.header {
  height: 150px;
  width: 100%;
  position: relative;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-bottom: 70px;
}

#AppStore div.page.viewStoreItem div.header img.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.5;
  border-bottom: var(--button-glass-hover-bg) 1px solid;
}

#AppStore div.page.viewStoreItem div.header img.banner.fallback {
  filter: blur(30px);
  border-bottom: none;
}

#AppStore div.page.viewStoreItem div.header div.info {
  height: 100px;
  border-radius: 15px;
  background-color: var(--win-bg);
  box-shadow: var(--secondary-box-shadow);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 15px;
  z-index: 1000;
  translate: 0 50px;
  max-width: 600px;
  width: 100%;
  border: var(--button-glass-bg) 1px solid;
}

#AppStore div.page.viewStoreItem div.header div.info > img {
  height: 64px;
  object-fit: cover;
  border-radius: 10px;
}

#AppStore div.page.viewStoreItem div.header div.info div.right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  height: 100%;
  padding: 15px 0;
}

#AppStore div.page.viewStoreItem div.header div.info div.size {
  display: flex;
  align-items: center;
  gap: 5px;
}

#AppStore div.page.viewStoreItem div.header div.info div.size span.lucide {
  font-size: 16px;
  color: var(--accent-lighter);
}

#AppStore div.page.viewStoreItem div.header div.info div.metadata {
  width: 0;
  flex-grow: 1;
}

#AppStore div.page.viewStoreItem div.header div.info h1 {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

#AppStore div.page.viewStoreItem div.header div.info span.version {
  opacity: 0.5;
  font-weight: normal;
}

#AppStore div.page.viewStoreItem div.header p.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#AppStore div.page.viewStoreItem div.header p.author {
  opacity: 0.5;
  font-size: 12px;
}
/* 
#AppStore div.page.viewStoreItem div.header.no-banner {
  justify-content: start;
  height: fit-content;
  padding: 20px 40px;
  margin-bottom: 0;
}

#AppStore div.page.viewStoreItem div.header.no-banner div.info {
  translate: 0;
  box-shadow: none;
  max-width: unset;
  border: none;
  padding: 0;
} */
#AppStore div.page.viewStoreItem div.markdown-body {
  padding: 0 40px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

#AppStore div.page.viewStoreItem div.notice {
  /* max-width: calc(100% - 80px); */
  margin: 0 40px;
  justify-self: center;
  max-width: 820px;
  margin-bottom: 20px;
}

#AppStore div.page.viewStoreItem div.screenshots-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 40px;
  margin: 30px auto;
  margin-top: 90px;
  max-width: 820px;
  height: 340px;
  position: relative;
  overflow: hidden;
}

#AppStore div.page.viewStoreItem div.screenshots-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, var(--win-bg) 0%, var(--win-bg) 30%, transparent 100%);
  z-index: 10000;
}

#AppStore div.page.viewStoreItem div.screenshots-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(to left, var(--win-bg) 0%, var(--win-bg) 30%, transparent 100%);
  z-index: 10000;
}

#AppStore div.page.viewStoreItem div.screenshots-wrapper div.carriage {
  width: 600px;
  height: 340px;
  position: relative;
}

#AppStore div.page.viewStoreItem div.screenshots-wrapper div.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  aspect-ratio: 16/9;
  height: 340px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: calc(-620px * var(--i, 0));
  transition: margin-left 0.3s;
}

#AppStore div.page.viewStoreItem div.screenshots-wrapper button {
  min-width: 40px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  position: absolute;
  top: 0;
  backdrop-filter: blur(10px);
  background-color: var(--button-glass-bg);
  border: var(--button-glass-bg) 1px solid;
  box-shadow: var(--secondary-box-shadow);
}

#AppStore div.page.viewStoreItem div.screenshots-wrapper button:disabled {
  opacity: 1;
  filter: brightness(0.6);
}

.theme-light #AppStore div.page.viewStoreItem div.screenshots-wrapper button:disabled {
  filter: brightness(0.8);
}

#AppStore div.page.viewStoreItem div.screenshots-wrapper button.icon-arrow-left {
  left: 40px;
  top: 150px;
}

#AppStore div.page.viewStoreItem div.screenshots-wrapper button.icon-arrow-right {
  right: 40px;
  top: 150px;
}

#AppStore div.page.viewStoreItem div.screenshots-wrapper img {
  width: 600px;
  height: 340px;
  object-fit: contain;
  background-color: var(--button-bg);
  border-radius: 10px;
  border: var(--button-glass-bg) 1px solid;
  box-shadow: var(--secondary-box-shadow);
  transition: all 0.3s !important;
}

#AppStore div.page.viewStoreItem div.screenshots-wrapper img.selected {
  z-index: 100000;
}

#AppStore div.page.viewStoreItem div.screenshots-wrapper img:not(.selected) {
  opacity: 0.5;
  scale: 0.9;
}
