#fileManager div.address-bar {
  display: flex;
  gap: 10px;
  height: 45px;
  padding: 5px 10px;
  padding-bottom: 10px;
  align-items: center;
  position: relative;
  border-bottom: var(--win-border);
}

#fileManager div.address-bar div.portion.address {
  flex-grow: 1;
  width: 0;
}

#fileManager div.address-bar div.portion.address.virtual {
  max-width: 100%;
}

#fileManager div.load-save div.address-bar div.portion.address {
  max-width: calc(100% - 40px);
}

#fileManager div.address-bar div.path {
  width: 0;
  flex-grow: 1;
  /* max-width: calc(100% - 35px); */
  border: var(--button-glass-bg) 1px solid;
  border-radius: var(--button-border-rad);
  padding: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

#fileManager div.address-bar div.path div.current-dir {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#fileManager div.address-bar div.path div.current-dir span {
  flex-grow: 1;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#fileManager div.address-bar button.activated {
  background-color: var(--accent-light) !important;
  color: var(--accent-darkest);
}

#fileManager div.address-bar div.path div.pill {
  padding: 0 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--button-glass-bg);
  height: 24px;
  border-radius: 7px;
}

#fileManager div.address-bar div.path div.pill.readonly-notice {
  background-color: var(--clr-orange-fg);
  margin-left: auto;
}

#fileManager div.address-bar div.path div.pill.readonly-notice * {
  color: var(--win-bg) !important;
}

#fileManager div.address-bar div.path div.pill span.lucide {
  font-size: 16px;
  color: var(--accent-light);
  height: 16px;
}

#fileManager div.address-bar div.path img {
  height: 16px;
}

#fileManager div.address-bar.system div.path {
  background-image: repeating-linear-gradient(
    -45deg,
    #0000 0px,
    #0000 20px,
    rgba(255, 166, 0, 0.1) 20px,
    rgba(255, 166, 0, 0.1) 40px,
    #0000 40px
  );
}

/* 
#fileManager div.address-bar.system div.path {
  background-color: var(--clr-orange-bg);
  color: var(--clr-orange-fg);
} */

#fileManager div.address-bar button {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  min-width: unset;
}

#fileManager div.address-bar button:not(.suggested):not(.lucide) {
  background-color: var(--button-bg);
}

#fileManager div.address-bar button.suggested {
  opacity: 1;
}

#fileManager div.address-bar div.portion {
  display: flex;
  gap: 5px;
}

#fileManager div.address-bar div.sep {
  width: 1px;
  height: 20px;
  background-color: var(--button-hover-bg);
}
