#fileManager > div.body div.window-action-bar {
  background-color: var(--win-bg);
}

#fileManager > div.body div.window-action-bar > input {
  flex-grow: 1;
  height: 30px;
  margin-left: -5px;
}

#fileManager > div.body div.window-action-bar.save {
  gap: 10px;
  padding-left: 10px;
}

#fileManager > div.body div.window-action-bar.save div.actions {
  margin-left: auto;
}

#fileManager > div.body div.window-action-bar.save div.save-name {
  display: flex;
  align-items: center;
  border: var(--win-border);
  border-radius: var(--button-border-rad);
  width: 0;
  flex-grow: 1;
  height: 31px;
  padding: 0 8px;
}

#fileManager > div.body div.window-action-bar.save div.save-name input {
  flex-grow: 1;
  border: none;
  padding: 0;
  border-radius: 0;
  height: 29px;
}

#fileManager > div.body div.window-action-bar.save div.save-name span {
  opacity: 0.5;
}

#fileManager > div.body div.window-action-bar div.notice {
  height: 30px;
  padding: 0 10px;
  padding-left: 6px;
  border-radius: 10px;
  background-color: var(--clr-red-fg);
  color: var(--win-bg);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

#fileManager > div.body div.window-action-bar div.notice * {
  color: inherit;
  vertical-align: middle;
  line-height: 30px;
}

#fileManager > div.body div.window-action-bar div.notice.warning {
  background-color: var(--clr-orange-fg);
}

#fileManager > div.body div.window-action-bar div.notice span.lucide {
  display: inline-block;
  margin-right: 6px;
  font-size: 18px;
}

#fileManager > div.body div.window-action-bar div.stat {
  margin-right: auto;
  width: 0;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
