#fileManager > div.body div.bottom {
  height: 53px;
  border-top: var(--win-border);
  background-color: var(--win-bg);
  display: flex;
  align-items: center;
  padding: 0 10px;
  padding-left: 15px;
}

#fileManager > div.body div.bottom > div {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
}

#fileManager > div.body div.bottom div.view-toggle button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  min-width: unset;
}

#fileManager > div.body div.bottom > div.actions {
  gap: 10px;
}

#fileManager > div.body div.bottom > input {
  flex-grow: 1;
  height: 30px;
  margin-left: -5px;
}

#fileManager > div.body div.bottom.save {
  gap: 10px;
}
