#fileManager > div.body div.bottom {
  height: 53px;
  border-top: var(--win-border);
  background-color: var(--win-bg);
  display: flex;
  align-items: center;
  padding: 0 10px;
  padding-left: 15px;
}

#fileManager > div.body div.bottom div.view-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
}

#fileManager > div.body div.bottom div.view-toggle button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  min-width: unset;
}
