@import url("./directoryviewer/grid.css");

#fileManager div.directory-viewer button div.segment {
  text-align: left;
}

#fileManager div.directory-viewer button div.segment.name {
  max-width: calc(100% - 24px - 200px - 30px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#fileManager div.directory-viewer button div.segment.icon {
  width: 24px;
  height: 24px;
  position: relative;
}

#fileManager div.directory-viewer button div.segment.icon img {
  width: 24px;
  height: 24px;
}

#fileManager div.directory-viewer button div.segment.icon span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--fg);
  color: var(--win-bg);
  font-size: 12px;
  width: 12px;
  height: 12px;
  text-align: center;
  border-radius: 2px;
  line-height: 12px;
}

#fileManager div.directory-viewer button div.segment.type {
  margin-left: auto;
  width: 80px;
  min-width: 80px;
}

#fileManager div.directory-viewer button div.segment.size {
  width: 90px;
  min-width: 90px;
}

#fileManager div.directory-viewer button div.segment.modified {
  width: 90px;
  min-width: 90px;
}

#fileManager div.directory-viewer button.renaming div.segment.name {
  overflow: visible !important;
  display: flex;
  justify-content: center;
}

#fileManager div.directory-viewer button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin: 0;
  background-color: transparent;
  transform: unset;
  transition: opacity 0.3s;
  scale: 1;
}

#fileManager div.directory-viewer button.hidden-file {
  opacity: 0.6;
}

#fileManager div.directory-viewer button * {
  transition: none !important;
}

#fileManager div.directory-viewer button div.segment {
  position: relative;
}

#fileManager div.directory-viewer button.selected {
  background-color: var(--accent-transparent) !important;
}

#fileManager div.directory-viewer button.cutting {
  opacity: 0.5;
}

#fileManager div.directory-viewer button.copying {
  font-weight: bold;
}

#fileManager div.directory-viewer button:hover {
  background-color: var(--button-bg);
}

#fileManager div.directory-viewer button:active {
  background-color: var(--button-active-bg);
  box-shadow: none;
}

#fileManager div.directory-viewer button input {
  padding: 0;
  border: none;
  background-color: var(--button-glass-active-bg);
  font-size: var(--font-size);
  box-shadow: none;
  border: var(--button-hover-bg) 1px solid;
  background-color: var(--button-bg);
  margin-left: -1px;
}

#fileManager div.directory-viewer.compact {
  gap: 2px;
}

#fileManager div.directory-viewer.compact button {
  gap: 5px;
}

#fileManager div.directory-viewer.compact button div.segment.icon,
#fileManager div.directory-viewer.compact button div.segment.icon img {
  width: 16px;
  height: 16px;
}

#fileManager div.directory-viewer.grid button div.segment.icon span {
  font-size: 8px !important;
  width: 8px !important;
  height: 8px !important;
  line-height: 8px;
}

#fileManager div.directory-viewer p.empty {
  text-align: center;
  margin: 10px;
  opacity: 0.5;
  font-style: italic;
  transition: color 0.3s !important;
}

#fileManager div.directory-viewer div.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#fileManager div.directory-viewer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px - 53px);
  overflow-y: scroll;
  padding: 15px;
  padding-top: 0;
  gap: 5px;
  position: relative;
}

#fileManager div.directory-viewer button.header-row {
  box-shadow: none;
  opacity: 1;
  padding: 0 5px;
  font-weight: 900;
  position: sticky;
  top: 0;
  background-color: var(--win-bg);
  z-index: 100000;
  padding-top: 15px;
  padding-bottom: 5px;
}

#fileManager div.directory-viewer.loading {
  justify-content: center;
  align-items: center;
  display: flex;
}
