#fileManager > div.body > div.window-symbolic-sidebar button .circular-progress {
  margin-left: auto;

  &.almost-full {
    .background {
      stroke: transparent;
    }

    .progress {
      stroke: var(--clr-red-fg);
    }
  }
}
