#fileManager > div.body > div.splash {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0;
  padding-bottom: 100px;
  flex-direction: column;
}

#fileManager > div.body > div.splash img {
  height: 96px;
}
