.theme-dark .hljs-component .hljs {
  color: var(--fg);
}
.theme-dark .hljs-component .hljs-comment,
.theme-dark .hljs-component .hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.theme-dark .hljs-component .hljs-doctag,
.theme-dark .hljs-component .hljs-keyword,
.theme-dark .hljs-component .hljs-formula {
  color: #c678dd;
}
.theme-dark .hljs-component .hljs-section,
.theme-dark .hljs-component .hljs-name,
.theme-dark .hljs-component .hljs-selector-tag,
.theme-dark .hljs-component .hljs-deletion,
.theme-dark .hljs-component .hljs-subst {
  color: #e06c75;
}
.theme-dark .hljs-component .hljs-literal {
  color: #56b6c2;
}
.theme-dark .hljs-component .hljs-string,
.theme-dark .hljs-component .hljs-regexp,
.theme-dark .hljs-component .hljs-addition,
.theme-dark .hljs-component .hljs-attribute,
.theme-dark .hljs-component .hljs-meta .hljs-string {
  color: #98c379;
}
.theme-dark .hljs-component .hljs-attr,
.theme-dark .hljs-component .hljs-variable,
.theme-dark .hljs-component .hljs-template-variable,
.theme-dark .hljs-component .hljs-type,
.theme-dark .hljs-component .hljs-selector-class,
.theme-dark .hljs-component .hljs-selector-attr,
.theme-dark .hljs-component .hljs-selector-pseudo,
.theme-dark .hljs-component .hljs-number {
  color: #d19a66;
}
.theme-dark .hljs-component .hljs-symbol,
.theme-dark .hljs-component .hljs-bullet,
.theme-dark .hljs-component .hljs-link,
.theme-dark .hljs-component .hljs-meta,
.theme-dark .hljs-component .hljs-selector-id,
.theme-dark .hljs-component .hljs-title {
  color: #61aeee;
}
.theme-dark .hljs-component .hljs-built_in,
.theme-dark .hljs-component .hljs-title.class_,
.theme-dark .hljs-component .hljs-class .hljs-title {
  color: #e6c07b;
}
.theme-dark .hljs-component .hljs-emphasis {
  font-style: italic;
}
.theme-dark .hljs-component .hljs-strong {
  font-weight: bold;
}
.theme-dark .hljs-component .hljs-link {
  text-decoration: underline;
}
