#AppStore > div.body div.package-install-action {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  height: 30px;
  width: 130px;
  border-radius: var(--button-border-rad);
}

#AppStore > div.body div.package-install-action.loading {
  background-color: var(--button-glass-bg);
  justify-content: center;
}

#AppStore > div.body div.package-install-action button.lucide {
  width: 30px;
  height: 30px;
  font-size: 16px;
  padding: 0;
}

#AppStore > div.body div.package-install-action > button:not(.lucide) {
  position: relative;
  overflow: hidden;
  height: 30px;
  width: 90px;
}

#AppStore > div.body div.package-install-action > button:not(.lucide):disabled {
  opacity: 1;
}

#AppStore > div.body div.package-install-action > button > div.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#AppStore > div.body div.package-install-action > button > div.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  padding: 0 15px;
}

#AppStore > div.body div.package-install-action > button:not(.lucide).working.compact div.inner {
  opacity: 1;
  background-color: var(--accent);
}

#AppStore > div.body div.package-install-action.compact.loading {
  height: 20px;
  border-radius: 10px;
  margin-top: auto;
  align-items: center;
}

#AppStore > div.body div.package-install-action.compact {
  min-width: 60px;
  width: 60px;
  align-items: end;
  /* height: 100%; */
  margin-left: auto;
  margin-top: auto;
  position: relative;
  z-index: 1000000;
}

#AppStore > div.body div.package-install-action > button:not(.lucide).compact {
  height: 20px;
  border-radius: 10px;
  padding: 0 !important;
  width: 60px !important;
  min-width: unset;
  outline: none;
}

#AppStore > div.body div.package-install-action > button:not(.lucide).compact div.content {
  line-height: 20px;
  padding: 0;
  width: 100%;
  text-align: center;
  width: 60px !important;
  font-size: 12px;
  font-weight: normal;
}

#AppStore > div.body div.package-install-action.compact {
  overflow: visible !important;
}

#AppStore > div.body div.package-install-action > button:not(.lucide).working.compact {
  height: 5px;
  width: 30px !important;
  border-radius: 2.5px;
  padding: 0;
}

#AppStore > div.body div.package-install-action > button > div.progress div.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--w, 0%);
  height: 100%;
  background-color: var(--accent-transparent);
  opacity: 0.5;
  border-radius: 2.5px;
}

#AppStore > div.body div.package-install-action.compact img {
  width: 12px !important;
  height: 12px !important;
}
