#AppStore > div.body div.tpa-disabled-notice {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#AppStore > div.body div.tpa-disabled-notice div.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 40px);
}

#AppStore > div.body div.tpa-disabled-notice div.content span.lucide {
  font-size: 48px;
  color: var(--accent);
  margin-bottom: 10px;
}

#AppStore > div.body div.tpa-disabled-notice div.content h1 {
  margin-bottom: 5px;
  font-size: 16px;
}

#AppStore > div.body div.tpa-disabled-notice div.content p {
  width: 250px;
  text-align: center;
  margin-bottom: 30px;
}
