input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
  opacity: 1 !important;
}

input[type="range"]:focus {
  outline: none !important;
  border: none !important;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--button-glass-hover-bg);
  border-radius: 0.5rem;
  height: 4px;
  outline: none !important;
  border: none !important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: var(--accent-lighter);
  opacity: 1;
  border-radius: 0.5rem;
  height: 10px;
  width: 10px;
  outline: none !important;
  border: none !important;
}

input[type="range"]::-moz-range-track {
  background-color: #add8e6;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--accent-lighter);
  border: none;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}
