#BugHunt > div.body > div.container div.center-notice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#BugHunt > div.body > div.container div.center-notice img {
  height: 84px;
  margin-bottom: 10px;
}

#BugHunt > div.body > div.container div.center-notice h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

#BugHunt > div.body > div.container div.center-notice p {
  max-width: 300px;
  text-align: center;
  margin-bottom: 20px;
}
