#systemSettings div.account_loginActivity div.centered-layout div.header {
  margin-bottom: 20px;
}

#systemSettings div.account_loginActivity div.activity-item {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  text-align: left;
  border-bottom: var(--win-border);
}

#systemSettings div.account_loginActivity div.activity-item:last-child {
  border-bottom: none;
}

#systemSettings div.account_loginActivity div.activity-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#systemSettings div.account_loginActivity div.activity-item div.info {
  flex-grow: 1;
  max-width: calc(100% - 42px);
}

#systemSettings div.account_loginActivity div.activity-item div.info p.what {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
}

#systemSettings div.account_loginActivity div.activity-item div.info span.when {
  opacity: 0.5;
  font-weight: normal;
  font-size: 12px;
}

#systemSettings div.account_loginActivity div.activity-item div.info p.frontend {
  opacity: 0.5;
  margin-top: 5px;
}

#systemSettings div.account_loginActivity div.activity-item div.icon {
  width: 32px;
  min-width: 32px;
  border-radius: 50%;
  height: 32px;
  background-color: var(--button-glass-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#systemSettings div.account_loginActivity div.activity-item div.icon span {
  font-size: 16px;
}
