#systemSettings
  div.slide.account_manageRotur
  > div.centered-layout
  > div.header
  img {
  height: 128px;
  border-radius: 64px;
}

#systemSettings div.slide.account_manageRotur section.account-stats {
  min-width: fit-content;
}

#systemSettings
  div.slide.account_manageRotur
  section.account-stats
  div.content {
  /* padding: 5px; */
  display: flex;
  gap: 10px;
  text-align: left;
  background-color: transparent;
  border-bottom: var(--win-border);
  border-radius: 0;
  padding-bottom: 10px;
}

div.content div.stat {
  height: 50px;
  /* width: 25%; */
  flex-grow: 1;
  background-color: var(--button-glass-bg);
  border-radius: 8px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

div.content div.stat p.name {
  opacity: 0.5;
  font-size: 12px;
  font-weight: bold;
}
