#FsProgress div.bar {
  height: 9px;
  width: 100%;
  border: var(--button-glass-bg) 1px solid;
  border-radius: 4.5px;
  background-color: var(--button-glass-bg);
  overflow: hidden;
  margin-top: auto;
  padding: 1px;
}

#FsProgress div.bar div.inner {
  --max: 100;
  --done: 0;
  background-color: var(--accent);
  border-radius: 2.5px;
  height: 5px;
  transition: none;
  width: calc(100% / var(--max) * var(--done));
}
