#MediaPlayer div.bar {
  margin: 0 15px;
  width: calc(100% - 30px);
  margin-top: 15px;
  height: 7px;
  background-color: var(--button-glass-bg);
  border-radius: 3.5px;
  border: var(--button-glass-bg) 1px solid;
  min-height: 7px;
}

#MediaPlayer div.bar.bounce div.inner {
  width: 20%;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0% {
    translate: 0%;
  }

  50% {
    translate: 400%;
  }

  100% {
    translate: 0;
  }
}

#MediaPlayer div.bar div.inner {
  height: 5px;
  width: var(--w);
  background-color: var(--accent);
  border-radius: 2.5px;
}

#MediaPlayer div.bar input.slider {
  -webkit-appearance: none;
  appearance: none;
}

#MediaPlayer div.bar input[type="range"].slider {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  width: 100%;
  height: 5px;
  transform: translateY(-9px);
  outline: none;
}

#MediaPlayer div.bar input[type="range"].slider::-webkit-slider-thumb {
  width: 15px;
  height: 11px;
  /* the offset can be anywhere from -7px to 7px. Added due to weird response of new width/height. */
  transform: translateX(var(--slider-thumb-offset));
  box-shadow: 0 0 4px rgb(0, 0, 0);
}

#MediaPlayer div.bar input[type="range"].slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
      var(--accent) 0%,
      var(--accent) var(--progress-percent),
      var(--button-glass-bg) var(--progress-percent),
      var(--button-glass-bg) 100%);
}

#MediaPlayer.fullscreen>div.body div.bar {
  margin-top: 0;
}