#MediaPlayer > div.body > div.container div.file h1 {
  font-size: 20px;
  display:flex;
  align-items: center;
  gap: 10px;
}

#MediaPlayer.fullscreen > div.body > div.container div.file h1 {
  font-size: 26px;
}

#MediaPlayer > div.body > div.container div.file p.author {
  font-size: 16px;
  opacity: 0.5;
}

#MediaPlayer.fullscreen > div.body > div.container div.file img {
  height: 48px;
}

#MediaPlayer div.file {
  gap: 10px;
  align-items: center;
}

#MediaPlayer div.file img {
  height: 24px;
}

#MediaPlayer.fullscreen div.file img {
  display: none;
}
