#MediaPlayer.fullscreen > div.body > div.container div.file {
  font-size: 26px;
  font-weight: bold;
}

#MediaPlayer.fullscreen > div.body > div.container div.file img {
  height: 48px;
}

#MediaPlayer div.file {
  display: flex;
  gap: 10px;
  align-items: center;
}

#MediaPlayer div.file img {
  height: 24px;
}
