#MediaPlayer div.no-file {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#MediaPlayer div.no-file img {
  height: 48px;
  margin-bottom: 20px;
}

#MediaPlayer div.no-file p {
  margin: 0;
  opacity: 0.5;
  max-width: 70%;
  text-align: center;
}
