#MediaPlayer div.video-wrapper,
#MediaPlayer div.audio-visual {
  flex-grow: 1;
  max-height: calc(100% - 90px);
  background-color: var(--button-glass-active-bg);
  border-radius: 0;
  border-bottom: var(--win-border);
  /* height: 350px; */
  height: 100%;
  /* aspect-ratio: 16/9; */
  position: relative;
  overflow: hidden;
}

#MediaPlayer div.video-wrapper video {
  height: 100%;
  max-width: 100%;
}

#MediaPlayer.fullscreen div.video-wrapper,
#MediaPlayer.fullscreen div.audio-visual {
  width: 100%;
  height: 100%;
  max-height: unset;
  box-shadow: none;
  border-radius: 0;
  border-bottom: var(--win-border);
  background-color: #000;
  margin-bottom: 15px;
  display: flex;
}

#MediaPlayer.fullscreen div.audio-visual {
  background: linear-gradient(to bottom, #0008 0%, #0008 100%), var(--wallpaper);
  background-position: center;
  background-size: cover;
}

#MediaPlayer video {
  pointer-events: none;
  margin: 0 auto;
}

#MediaPlayer div.audio-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#MediaPlayer div.audio-visual div.file {
  width: 100%;
  padding: 10px;
  margin-top: auto;
}

#MediaPlayer div.audio-visual > span {
  background-color: var(--button-glass-bg);
  text-align: center;
  line-height: 64px;
  font-size: 40px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-top: auto;
  translate: 0 22px;
}
#MediaPlayer.fullscreen div.audio-visual {
  align-items: start;
  justify-content: end;
  padding: 30px;
  gap: 30px;
}

#MediaPlayer.fullscreen div.audio-visual > div.file,
#MediaPlayer.fullscreen div.audio-visual > span {
  margin-top: 0;
  translate: none;
}

#MediaPlayer.fullscreen div.audio-visual > span {
  border-radius: 8px;
  width: 128px;
  height: 128px;
  line-height: 128px;
  background-color: var(--accent-transparent);
  border: var(--button-glass-hover-bg) 1px solid;
  backdrop-filter: blur(10px);
}

#MediaPlayer.fullscreen div.audio-visual > div.file {
  margin-top: 0;
  padding: 0;
}

#MediaPlayer > div.body div.video-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  transition: height 0.3s;
}

#MediaPlayer > div.body div.video-wrapper.show {
  display: flex;
}
