body:has(.axios-overlay) {
  display: flex;
}

body:has(.axios-overlay) main#main {
  width: calc(100vw - 50px);
  max-width: calc(100vw - 50px);
}

body:has(.axios-overlay) main#main,
body:has(.axios-overlay) main#main #appRenderer {
  position: relative !important;
}

body:has(.axios-overlay) div.virtual-desktop-container > div.inner > div.workspace {
  width: calc(100vw - 500px);
}

body:has(.axios-overlay) div.virtual-desktop-container > div.inner {
  margin-left: calc(calc(-100vw + 500px) * var(--index, 0)) !important;
}

div.axios-overlay {
  padding: 10px;
  background-color: #222;
  color: #fff;
  font-family: "Source Code Pro";
  width: 500px;
  height: 100%;
  z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000;
  min-width: 500px;
  border-left: #555 1px solid;
  overflow-y: scroll;
}

div.axios-overlay:hover {
  opacity: 1;
}

div.axios-overlay > div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

div.axios-overlay div.method {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: var(--clr-green-fg);
  color: #000;
  width: 50px;
  text-align: right;
}

div.axios-overlay div.path {
  width: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.axios-overlay > div.completed {
  opacity: 0.2;
}

div.axios-overlay div.method-get {
  background-color: var(--clr-green-fg);
}

div.axios-overlay div.method-post {
  background-color: var(--clr-yellow-fg);
}

div.axios-overlay div.method-put {
  background-color: var(--clr-blue-fg);
}

div.axios-overlay div.method-patch {
  background-color: var(--clr-purple-fg);
}

div.axios-overlay div.method-delete {
  background-color: var(--clr-red-fg);
}

div.axios-overlay div.error {
  opacity: 0.7;
}

div.axios-overlay div.error div.path {
  color: var(--clr-red-fg);
}

div.axios-overlay div.timing {
  margin-left: auto;
}
