ul.context-menu {
  position: fixed;
  min-width: 180px;
  min-height: 42px;
  background-color: var(--glass-bg);
  backdrop-filter: blur(10px) !important;
  color: var(--fg);
  border: var(--win-border);
  border-radius: var(--win-border-rad);
  box-sizing: border-box;
  padding: 5px;
  transition: all 0.3s, top 0s, left 0s;
  display: flex;
  flex-direction: column;
  transform-origin: top center;
  z-index: 10000000000000000000000000000000000000000 !important;
  opacity: 0;
  transform: scaleY(0);
  visibility: hidden;
}

ul.context-menu.show {
  opacity: 1;
  visibility: visible;
  transform: unset;
  pointer-events: all !important;
}

ul.context-menu button {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s;
}

ul.context-menu button:hover {
  background-color: var(--button-glass-bg);
}

ul.context-menu button:active {
  background-color: var(--button-glass-active-bg);
  scale: 1;
}

ul.context-menu li.has-submenu {
  position: relative;
}
ul.context-menu li.has-submenu > ul {
  position: absolute;
  /* top: 0; */
  margin-top: -6px;
  left: calc(100% + 5px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, pointer-events 0s;
  background-color: var(--win-bg);
}

ul.context-menu li.has-submenu > ul.show {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transform: scaleY(100%);
}

ul.context-menu li {
  list-style: none;
}
