div.window:not(.core) div.body div.info-block {
  background-color: var(--button-bg);
  border-radius: var(--win-border-rad);
  box-shadow: var(--secondary-box-shadow);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: var(--button-glass-bg) 1px solid;
  outline-offset: -1px;
}

div.window:not(.core) div.body div.info-block * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.theme-light div.window:not(.core) div.body div.info-block {
  background-color: var(--win-bg);
  outline-color: var(--button-glass-active-bg);
}

div.window:not(.core) div.body div.info-block button {
  background-color: var(--button-glass-bg);
}

div.window:not(.core) div.body div.info-block button:hover {
  background-color: var(--button-glass-hover-bg);
}

div.window:not(.core) div.body div.info-block button:active {
  background-color: var(--button-glass-active-bg);
}

div.window:not(.core) div.body div.info-block div.row {
  display: flex;
  gap: 30px;
  padding: 10px 15px;
}

div.window:not(.core) div.body div.info-block div.segment {
  max-width: 100%;
}

div.window:not(.core) div.body div.info-block div.segment > p {
  margin: 0;
}

div.window:not(.core) div.body div.info-block div.segment p.title {
  opacity: 0.5;
  font-weight: bold;
  display: flex;
  gap: 5px;
  align-items: center;
  min-width: fit-content;
}

div.window:not(.core) div.body div.info-block div.segment p.title button.help {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: transparent;
}

div.window:not(.core) div.body div.info-block div.segment p.value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.window:not(.core) div.body div.info-block div.segment p.title button.help:hover {
  color: var(--accent-light);
}

div.window:not(.core) div.body div.info-block div.segment.right {
  margin-left: auto;
  margin-top: -10px;
  margin-bottom: -10px;
  justify-content: center;
  border-left: var(--win-border);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.window:not(.core) div.body div.info-block div.segment.grow {
  width: 100%;
}

div.window:not(.core) div.body div.info-block div.segment code {
  background-color: transparent;
}

div.window:not(.core) div.body div.info-block div.row + div.row {
  border-top: var(--win-border);
}

div.window:not(.core) div.body div.info-block div.row > button.action {
  margin-left: auto;
}

div.window:not(.core) div.body div.info-block code.block {
  margin: 10px 0;
  width: 100%;
  max-width: unset;
}
