@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("./lucide.css");
@import url("./window.css");
@import url("./progressbar.css");
@import url("./themes.css");
@import url("./noani.css");
@import url("./sharp.css");
@import url("./spinner.css");
@import url("./virtualdesktop.css");
@import url("./infoblock.css");

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000;
  margin: 0;
  overflow: hidden;
  font-family: "Nunito Sans";
  font-size: 14px;
}

* {
  box-sizing: border-box;
  color: var(--fg, #fff);
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  user-select: none;
  outline: none !important;
  -webkit-user-drag: none !important;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main#main {
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #000;
}

main#main.hidden #appRenderer {
  opacity: 0;
}

#appRenderer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: opacity 300ms;
}

#appRenderer > div.window:not(.core) {
  pointer-events: initial;
}

@font-face {
  font-family: unifont;
  src: url(../assets/unifont.ttf);
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}

.error-text {
  font-weight: bold;
  color: var(--clr-red-fg);
}
