@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
/** USER FONTS **/
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Bad+Script&family=Caveat:wght@400..700&family=Changa:wght@200..800&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kotta+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Nothing+You+Could+Do&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Shadows+Into+Light&family=Sofia&display=swap");
/****************/
@import url("./lucide.css");
@import url("./window.css");
@import url("./progressbar.css");
@import url("./themes.css");
@import url("./noani.css");
@import url("./sharp.css");
@import url("./spinner.css");
@import url("./virtualdesktop.css");
@import url("./infoblock.css");
@import url("./codeeditor.css");
@import url("./state/crash.css");
@import url("./state/desktop.css");
@import url("./state/licensedeclined.css");
@import url("./state/serverdown.css");
@import url("./state/turnedoff.css");
@import url("./state/arcterm.css");

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000;
  margin: 0;
  overflow: hidden;
  font-family: "Nunito Sans";
  font-size: 14px;
}

* {
  box-sizing: border-box;
  color: var(--fg, #fff);
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  user-select: none;
  outline: none !important;
  -webkit-user-drag: none !important;
}

font[size] {
  font-size: revert-layer !important;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main#main {
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #000;
}

main#main.hidden #appRenderer {
  opacity: 0;
}

#appRenderer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: opacity 300ms;
  font-family: var(--user-font, "Nunito Sans"), "Nunito Sans";
}

#appRenderer > div.window:not(.core) {
  pointer-events: initial;
}

@font-face {
  font-family: unifont;
  src: url(../assets/unifont.ttf);
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}

.error-text {
  font-weight: bold;
  color: var(--clr-red-fg) !important;
}

span.beta-pill {
  display: block;
  padding: 0 8px;
  height: 18px;
  border-radius: 9px;
  background-color: var(--clr-orange-bg);
  border: var(--clr-orange-fg) 1px solid;
  color: var(--clr-orange-fg);
  font-weight: bold;
  font-family: "Source Code Pro";
  line-height: 16px;
}
