img.spinner-svg {
  vertical-align: middle;
}

img.spinner-svg.hide {
  opacity: 0 !important;
}

#appRenderer[class*="theme-light"] img.spinner-svg {
  filter: brightness(0.4);
}

div.html-spinner {
  --size: 32px;
  --thickness: 5px;
  border: var(--thickness) solid #0000;
  border-top: var(--thickness) solid currentColor;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  animation: spin 0.75s linear infinite;
}

div.html-spinner:not(.going) {
  opacity: 0;
}

div.html-spinner.large {
  --size: 64px;
  --thickness: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
