@import url("./window/core.css");
@import url("./window/titlebar.css");
@import url("./window/controls.css");
@import url("./window/overlay.css");
@import url("./window/body.css");
@import url("./window/markdown.css");
@import url("./window/button.css");
@import url("./window/checkbox.css");
@import url("./window/fields.css");
@import url("./window/code.css");
@import url("./window/scrollbars.css");
@import url("./window/snapping.css");
@import url("./window/proto.css");

div.window:not(.core) {
  position: absolute;
  color: var(--fg);
  background-color: var(--win-bg);
  border: var(--win-border);
  border-radius: var(--win-border-rad);
  overflow: hidden;
  font-size: var(--font-size);
  font-family: var(--font);
  box-shadow: 0 5px 15px 5px #0006;
  margin-top: 0;
  opacity: 0;
  visibility: hidden;
  scale: 0.9;
  outline: var(--secondary-border) !important;
}

div.window:not(.core).shell-colored.colored::before {
  opacity: 0.1;
  transition: opacity 0.1s !important;
}

div.window:not(.core).maximized {
  /* position: fixed !important; */
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: calc(100% - var(--taskbar-allocation)) !important;
  min-height: calc(100% - var(--taskbar-allocation)) !important;
  max-height: calc(100% - var(--taskbar-allocation)) !important;
  translate: 0 0 !important;
  transform: none !important;
  border-radius: 0 !important;
  resize: none !important;
  border: none !important;
  transition: all 0.3s !important;
}

div.window:not(.core).fullscreen {
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  min-width: 100vw !important;
  max-width: 100vw !important;
  height: 100vh !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  translate: 0 0 !important;
  transform: none !important;
  border-radius: 0 !important;
  resize: none !important;
  border: none !important;
  background-color: var(--win-bg);
  backdrop-filter: none !important;
}

div.window:not(.core).fullscreen div.titlebar {
  display: none !important;
}

div.window:not(.core).fullscreen > div.body {
  height: 100vh !important;
  border-top: none !important;
  border-radius: 0 !important;
}

div.window:not(.core):not(.glass).focused {
  background-color: var(--glass-bg);
}

div.window:not(.core):not(.glass).focused > div.titlebar {
  backdrop-filter: blur(10px);
}

div.window:not(.core):not(.glass) > div.body {
  background-color: var(--win-bg);
}

div.window:not(.core).minimized {
  opacity: 0 !important;
  visibility: hidden !important;
  transform-origin: top !important;
  scale: 1 0 !important;
}

div.window *::selection {
  background-color: var(--accent-transparent, var(--accent-dark));
}

div:not(.noani) div.window:not(.core) {
  transition: all 0.2s, z-index 0s, pointer-events 0s, transform 0s, backdrop-filter 0s, width 0s, height 0s, translate 0s,
    transform-origin 0s;
}

div.window:not(.core).visible:not(.closing) {
  opacity: 1;
  visibility: visible;
  scale: 1;
  margin-top: 0;
}
/* 
div.window:not(.core).resizable {
  resize: both;
} */
div.window.focused.glass,
div.window.overlay.glass {
  background-color: var(--glass-bg);
  backdrop-filter: blur(var(--blur));
}

div.window:not(.core) a {
  color: var(--accent-light);
  text-underline-offset: 2px;
}

div.window:not(.core) div.resizer {
  position: absolute;
  z-index: 1000000000000;
}

div.window.overlay.resizable {
  resize: both;
}

div.window.overlay div.resizer,
div.window.snapped div.resizer,
div.window.maximized div.resizer {
  display: none;
}

div.window:not(.core) div.resizer.top-left,
div.window:not(.core) div.resizer.top-right,
div.window:not(.core) div.resizer.bottom-left,
div.window:not(.core) div.resizer.bottom-right {
  z-index: 1000000000000000000;
}

div.window:not(.core).resizing {
  transition: none !important;
}

div.window:not(.core).ummaximizing {
  transition: all 0.2s !important;
}
