#AdminPortal > div.body div.sidebar {
  height: 100%;
  width: 200px;
  border-right: var(--win-border);
  overflow-y: scroll;
  padding: 10px;
  padding-right: 2px;
}

#AdminPortal > div.body div.sidebar button {
  width: 100%;
  height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 7px;
  margin-bottom: 5px;
  background-color: transparent;
}

#AdminPortal > div.body div.sidebar button.selected {
  background-color: var(--accent-transparent);
}

#AdminPortal > div.body div.sidebar button span.lucide {
  font-size: 16px;
  color: var(--accent-light);
}

#AdminPortal > div.body div.sidebar hr {
  margin: 8px 0;
  /* margin-bottom: 8px; */
  border: none;
  border-top: var(--button-glass-bg) 1px solid;
}

#AdminPortal > div.body div.sidebar button:hover {
  background-color: var(--button-glass-bg);
}

#AdminPortal > div.body div.sidebar button:active {
  background-color: var(--button-glass-active-bg);
}

#AdminPortal > div.body div.sidebar section h1 {
  opacity: 0.5;
  padding: 5px 7px;
}

#AdminPortal > div.body div.sidebar section + section {
  margin-top: 10px;
}
