#AdminPortal > div.body div.sidebar {
  height: 100%;
  width: 150px;
  padding: 0;
  border-right: var(--win-border);
  overflow-y: scroll;
  /* padding: 10px; */
  /* padding-right: 2px; */
}

#AdminPortal > div.body div.sidebar::-webkit-scrollbar {
  display: none;
}

#AdminPortal > div.body div.sidebar button {
  width: 100%;
  height: 36px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  background-color: transparent;
  border-radius: 0;
}

#AdminPortal > div.body div.sidebar button span.lucide {
  font-size: 16px;
  color: var(--accent-light);
}

#AdminPortal > div.body div.sidebar hr {
  /* margin-bottom: 8px; */
  border: none;
  border-top: var(--button-glass-bg) 1px solid;
}

#AdminPortal > div.body div.sidebar button:hover {
  background-color: var(--button-glass-bg);
}

#AdminPortal > div.body div.sidebar button:active {
  background-color: var(--button-glass-active-bg);
}

#AdminPortal > div.body div.sidebar button.selected {
  background-color: var(--accent-transparent);
}

#AdminPortal > div.body div.sidebar section h1 {
  padding: 10px 38px;
  border-bottom: var(--button-glass-bg) 1px solid;
  height: 40px;
  margin-bottom: 5px;
}

#AdminPortal > div.body div.sidebar section + section {
  margin-top: 10px;
}
