#AdminPortal > div.body table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  margin: -1px;
}

#AdminPortal > div.body table tr {
  background-color: var(--button-bg);
  border-top: var(--win-border);
}

#AdminPortal > div.body table tr:hover td {
  background-color: var(--button-glass-hover-bg);
}

#AdminPortal > div.body table th,
#AdminPortal > div.body table td {
  padding: 5px 8px;
  border: var(--win-border);
  text-align: left !important;
  white-space: nowrap;
}

#AdminPortal > div.body table tr th {
  font-weight: bold !important;
}

#AdminPortal > div.body table tr:nth-child(2n) {
  background-color: var(--button-bg) 1px solid;
}
