#ExecuteQueryApp #SaveQueryOverlay > div.body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

#ExecuteQueryApp #SaveQueryOverlay > div.body div.top {
  padding: 10px;
  height: 0;
  flex-grow: 1;
}

#ExecuteQueryApp #SaveQueryOverlay > div.body div.top p {
  margin-bottom: 10px;
}

#ExecuteQueryApp #SaveQueryOverlay > div.body div.top input {
  width: 100%;
  padding: 0 10px;
  height: 30px;
}

#ExecuteQueryApp #SaveQueryOverlay > div.body div.actions {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  border-top: var(--win-border);
  background-color: var(--win-bg);
}
