#AppPermissions div.header {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  flex-direction: column;
  margin: 0.5em;
  margin-bottom: 1em;
}

#AppPermissions div.header img.icon {
  height: 48px;
}

#AppPermissions div.header p.title {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#AppPermissions div.permissionslist {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow: scroll;
  border-radius: 1em;
  border: var(--clr-aqua-bg) solid 1px;
  padding: 0.5em 1em;
  padding-right: 0.25em;
  height: 288px;
  margin-bottom: 1em;
}

#AppPermissions div.permissionslist div.permission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
}

#AppPermissions div.permissionslist div.permission p.permname {
  color: #dddddd;
  font-size: 0.9em;
}

#AppPermissions div.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#AppPermissions p.id {
  opacity: 0.5;
  font-family: 'Source Code Pro';
}

#AppPermissions select.option {
  width: 7em;
}

#AppPermissions p.subsection {
  opacity: 0.5;
}

#AppPermissions p.graytext {
  margin: 0.5em 0;
  opacity: 0.5;
}