#ArcTermColors > div.body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#ArcTermColors > div.body > h1 {
  font-size: 18px;
}

#ArcTermColors > div.body > div.mode-selector {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 40px;
  padding: 5px;
  outline: var(--button-glass-bg) 1px solid;
  background-color: var(--button-glass-bg);
  outline-offset: -1px;
  border-radius: 10px;
}

#ArcTermColors > div.body > div.mode-selector button {
  flex-grow: 1;
  background-color: transparent;
  outline: none;
  height: 30px;
  padding: 0 15px;
}

#ArcTermColors > div.body > div.mode-selector button:hover {
  background-color: var(--button-glass-bg);
}

#ArcTermColors > div.body > div.mode-selector button:active {
  background-color: var(--button-glass-active-bg);
}

#ArcTermColors > div.body > div.mode-selector button.active {
  background-color: var(--button-glass-bg);
  outline: var(--button-glass-bg) 1px solid;
  outline-offset: -1px;
}

#ArcTermColors > div.body > div.mode-selector div.current-theme {
  padding: 4px;
  display: grid;
  grid-template-columns: repeat(4, 9px);
  grid-template-rows: repeat(2, 9px);
  border: var(--button-hover-bg) 1px solid;
  height: 30px;
  border-radius: 6px;
  overflow: hidden;
  gap: 2px;
}

#ArcTermColors > div.body > div.mode-selector div.current-theme div {
  border-radius: 2px;
  background-color: var(--color);
}
#ArcTermColors > div.body > div.content {
  flex-grow: 1;
  padding: 15px;
  border-radius: 10px;
  border: var(--win-border);
  height:0;
}

#ArcTermColors > div.body > div.content.presets {
  padding: 0;
  display: flex;
  flex-direction: column;
}

#ArcTermColors > div.body > div.content.presets > div.presets {
  flex-grow: 1;
  padding: 10px;
  overflow-y: scroll;
}

#ArcTermColors > div.body > div.content.presets > div.presets > h1 {
  margin-bottom: 5px;
  opacity: 0.5;
}

#ArcTermColors > div.body > div.content.presets div.preset + h1 {
  margin-top: 15px;
}

#ArcTermColors > div.body > div.content.presets div.preset {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  padding-left: 8px;
  border-radius: 10px;
  gap: 10px;
}

#ArcTermColors > div.body > div.content.presets div.preset div.buttons {
  display: none;
}

#ArcTermColors > div.body > div.content.presets div.preset:hover div.buttons,
#ArcTermColors > div.body > div.content.presets div.preset.selected div.buttons {
  display: flex;
}

#ArcTermColors > div.body > div.content.presets div.preset:hover {
  background-color: var(--button-glass-bg);
}

#ArcTermColors > div.body > div.content.presets div.preset.selected {
  background-color: var(--accent-transparent);
}

#ArcTermColors > div.body > div.content.presets div.display {
  height: 18px;
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 2px;
  border: var(--button-glass-hover-bg) 1px solid;
  border-radius: 5px;
}

#ArcTermColors > div.body > div.content.presets div.display div {
  width: 12px;
  height: 12px;
  background-color: var(--color);
  border-radius: 3px;
}

#ArcTermColors > div.body > div.content.presets div.preset div.buttons {
  align-items: center;
  gap: 8px;
}

#ArcTermColors > div.body > div.content.presets div.preset button {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: var(--accent-light);
}

#ArcTermColors > div.body > div.content.presets div.preset.selected button.lucide.icon-check {
  animation: ArcTermColors_check_pulse 0.5s linear infinite;
}

@keyframes ArcTermColors_check_pulse {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(2);
  }

  100% {
    filter: brightness(1);
  }
}

#ArcTermColors > div.body > div.content.presets div.preset p.name {
  margin-right: auto;
}

#ArcTermColors > div.body > div.content.presets > hr {
  border: none;
  border-top: var(--win-border);
}

#ArcTermColors > div.body > div.content.presets > div.preview {
  padding: 10px;
  font-family: "Source Code Pro";
  font-size: 12px;
  height: 100px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  outline: var(--win-bg) 1px solid;
  outline-offset: -1px;
}

#ArcTermColors > div.body > div.content.presets > div.preview > p {
  margin-bottom: 10px;
  color: var(--color);
}

#ArcTermColors > div.body > div.content.presets > div.preview > span {
  color: var(--color);
}

#ArcTermColors > div.body > div.content.custom hr {
  margin: 15px 0;
  border: none;
  border-top: var(--win-border);
}

#ArcTermColors > div.body > div.content.custom div.color-modifier {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#ArcTermColors > div.body > div.content.custom div.color-modifier > p {
  margin-right: auto;
}

#ArcTermColors > div.body > div.content.custom div.color-modifier > input {
  padding: 0;
  width: 62px;
  font-family: "Source Code Pro";
  border-radius: 0;
  border: none;
  border-bottom: #0000 1px solid;
  opacity: 0.5;
}

#ArcTermColors > div.body > div.content.custom div.color-modifier > input:focus {
  opacity: 1;
  border-bottom: var(--win-border);
}

#ArcTermColors > div.body > div.content.custom div.color-modifier div.dot-wrapper {
  position: relative;
  width: 16px;
  height: 16px;
}

#ArcTermColors > div.body > div.content.custom div.color-modifier div.dot-wrapper > * {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}

#ArcTermColors > div.body > div.content.custom div.color-modifier div.dot-wrapper input {
  opacity: 0;
  pointer-events: none;
}
#ArcTermColors > div.body > div.content.custom div.color-modifier div.dot-wrapper button {
  background-color: var(--color);
  border: var(--win-border);
  outline: var(--win-bg) 1px solid;
  outline-offset: -2px;
}

#ArcTermColors > div.body > div.content.custom input[type="range"] {
  width: 100px !important;
  border-bottom: none !important;
}

#ArcTermColors > div.body > div.content.custom span.percent {
  opacity: 0.5;
  display: block;
  width: 40px;
  text-align: left;
}

#ArcTermColors > div.body > div.actions {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--button-bg);
  border-radius: 10px;
  border: var(--button-glass-bg) 1px solid;
}

#ArcTermColors > div.body > div.actions button {
  background-color: var(--button-glass-bg);
}

#ArcTermColors > div.body > div.actions button:hover:not(:disabled) {
  background-color: var(--button-glass-hover-bg);
}

#ArcTermColors > div.body > div.actions button:active:not(:disabled) {
  background-color: var(--button-glass-active-bg);
}

#ArcTermColors > div.body > div.actions button.lucide {
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

#ArcTermColors > div.body > div.actions div.master {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
