#FirstRun {
  overflow: visible;
}

#FirstRun > div.body {
  padding: 0;
}

#FirstRun > div.body div.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 0;
  height: 50px;
}

#FirstRun > div.body div.actions > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

#FirstRun > div.body div.actions button {
  padding: 0 15px;
  height: 30px;
}

#FirstRun > div.body div.top {
  height: calc(100% - 50px);
}
#FirstRun > div.body div.top.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 60px;
}
#FirstRun > div.body div.top.hero div.pfprenderer,
#FirstRun > div.body div.top.hero img {
  height: 84px;
  margin-bottom: 20px;
}

#FirstRun > div.body div.choose-style h1,
#FirstRun > div.body div.top.hero h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

#FirstRun > div.body div.choose-style p,
#FirstRun > div.body div.top.hero p {
  opacity: 0.5;
}

#FirstRun > div.body div.top.hero p {
  max-width: 300px;
  text-align: center;
}

#FirstRun > div.body div.choose-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
}

#FirstRun > div.body div.choose-style div.header {
  margin-bottom: 30px;
}

#FirstRun > div.body div.choose-style div.header p {
  width: 260px;
}

#FirstRun > div.body div.choose-style div.styles {
  display: flex;
  align-items: center;
  gap: 20px;
}

#FirstRun > div.body div.choose-style button {
  outline: none;
  background-color: transparent;
  padding: 10px 8px;
  padding-bottom: 5px;
}

#FirstRun > div.body div.choose-style button img {
  border-radius: 50%;
  height: 64px;
  margin-bottom: 10px;
}

#FirstRun > div.body div.choose-style button h1 {
  font-size: 14px;
  margin-bottom: 0;
}

#FirstRun > div.body div.choose-style button p {
  font-size: 12px;
  font-style: italic;
}

#FirstRun > div.body div.choose-style button:hover {
  background-color: var(--button-glass-bg);
}

#FirstRun > div.body div.choose-style button.selected {
  background-color: var(--accent-transparent);
}

#FirstRun > div.body div.choose-style button.selected img {
  outline: var(--accent) 2px solid;
  outline-offset: 2px;
}

#FirstRun > div.body div.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% + 50px);
}

#FirstRun_ChooseProfilePicture > div.body {
  text-align: center;
  padding: 0;
}

#FirstRun_ChooseProfilePicture > div.body div.top {
  height: calc(100% - 50px);
  padding: 15px;
  padding-top: 20px;
}

#FirstRun_ChooseProfilePicture > div.body div.top h1 {
  margin-bottom: 5px;
  font-size: 16px;
}

#FirstRun_ChooseProfilePicture > div.body div.top p {
  margin-bottom: 20px;
  opacity: 0.5;
}

#FirstRun_ChooseProfilePicture > div.body div.actions {
  display: flex;
  justify-content: end;
  height: 50px;
  padding: 10px;
  border-top: var(--win-border);
}

#FirstRun_ChooseProfilePicture > div.body div.profile-picture-grid {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  gap: 15px;
}

#FirstRun_ChooseProfilePicture > div.body div.profile-picture-grid button {
  margin: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

#FirstRun_ChooseProfilePicture > div.body div.profile-picture-grid button.selected {
  outline: var(--accent-light) 3px solid !important;
  /* scale: 1.1; */
  outline-offset: -1px;
}
