#FsProgressFail > div.body {
  padding: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#FsProgressFail > div.body div.header {
  text-align: center;
}

#FsProgressFail > div.body div.header img {
  width: 84px;
  height: 84px;
  margin-bottom: 15px;
}

#FsProgressFail > div.body div.header h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

#FsProgressFail > div.body div.header p {
  opacity: 0.5;
}

#FsProgressFail > div.body div.errors {
  border: var(--win-border);
  border-radius: 10px;
  padding: 15px;
  overflow-y: auto;
  width: 100%;
  height: 0;
  flex-grow: 1;
}
#FsProgressFail > div.body div.errors div.error {
  display: flex;
  align-items: start;
  line-height: 16px;
  gap: 10px;
}

#FsProgressFail > div.body div.errors div.error img {
  height: 16px;
}

#FsProgressFail > div.body button.suggested {
  width: 100%;
  height: 40px;
}
