#GlobalLoadIndicator > div.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 20px;
  gap: 15px;
}

#GlobalLoadIndicator > div.body svg {
  min-width: 32px;
}
