#messageBox {
  width: max-content !important;
  display: flex;
  flex-direction: column;
}

#messageBox div.body {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#messageBox div.top {
  padding: 20px;
  display: flex;
  gap: 20px;
}
#messageBox div.top div.left {
  min-width: initial;
}
#messageBox div.top div.left img {
  height: 40px;
}

#messageBox div.top h1 {
  margin-top: 0;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  margin-bottom: 8px;
}

#messageBox div.top p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#messageBox div.bottom {
  display: flex;
  margin-top: auto;
  justify-content: end;
  align-items: end;
  border-top: var(--win-border);
  padding: 10px;
  background-color: var(--button-bg);
  min-height: 50px;
  gap: 10px;
}

#messageBox div.bottom button {
  min-width: 70px;
  margin: 0;
}

#messageBox div.bottom button:not(.suggested) {
  background-color: var(--button-hover-bg);
}

#messageBox div.bottom button:not(.suggested):hover {
  background-color: var(--button-glass-hover-bg);
}

#messageBox div.bottom button:not(.suggested):active {
  background-color: var(--button-active-bg);
}
