#ProcessInfoApp > div.body {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}

#ProcessInfoApp > div.body div.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

#ProcessInfoApp > div.body div.header h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

#ProcessInfoApp > div.body div.header p {
  opacity: 0.5;
  margin: 0;
}

#ProcessInfoApp > div.body div.header img {
  height: 64px;
  margin-right: 5px;
}

#ProcessInfoApp > div.body div.window-action-bar button.kill {
  background-color: var(--clr-red-fg) !important;
  font-weight: bold;
}

#ProcessInfoApp > div.body div.window-action-bar button.kill * {
  color: var(--win-bg) !important;
}
