.shade-RoturAuthGui {
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to bottom, #0006 0%, #0006 100%),
    var(--wallpaper, url("../../../assets/bg/img15.jpg"));
  z-index: 10000000000;
}

#RoturAuthGui {
  overflow: visible;
  z-index: 100000000000;
}

#RoturAuthGui > div.body {
  display: flex;
  flex-direction: column;
}

#RoturAuthGui > div.body div.header {
  text-align: center;
  padding: 15px;
}

#RoturAuthGui > div.body div.header img {
  height: 48px;
}

#RoturAuthGui > div.body div.header h1 {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#RoturAuthGui > div.body div.field {
  margin-bottom: 15px;
}

#RoturAuthGui > div.body div.field label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.5;
  margin-bottom: 5px;
}

#RoturAuthGui > div.body div.field input {
  height: 40px;
  width: 100%;
}

#RoturAuthGui > div.body div.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#RoturAuthGui > div.body div.actions {
  margin-top: auto;
}
#RoturAuthGui > div.body button.suggested {
  height: 40px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

#RoturAuthGui > div.body div.alternatives {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 0.5;
}

#RoturAuthGui > div.body div.alternatives button {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#RoturAuthGui > div.body div.alternatives button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

#RoturAuthGui > div.body div.alternatives div.dot {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--fg);
}
