#arcShell,
#arcShell div.body,
#arcShell div.shell {
  pointer-events: none;
}

#arcShell div.shell {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#arcShell div.shell * {
  pointer-events: initial;
}

#arcShell div.shell div.primary {
  height: calc(100% - 50px);
  max-height: calc(100% - 50px);
  overflow: hidden;
  display: grid;
  grid-template-columns: 420px auto 400px;
  align-items: end;
  padding: 10px;
}

#arcShell div.shell div.secondary {
  z-index: 10000;
  position: relative;
}

#arcShell div.shell div.taskbar {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  height: 40px;
  margin: 10px;
  margin-top: 0;
  gap: 10px;
  z-index: 100;
  background-color: var(--glass-bg);
  border-radius: 8px;
}

#arcShell div.shell.docked div.taskbar {
  width: 100%;
  margin: 0;
}

#arcShell div.shell div.taskbar > button {
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-glass-bg);
}

#arcShell div.shell div.taskbar div.opened-apps {
  background-color: var(--button-glass-bg);
  flex-grow: 1;
  height: inherit;
  border-radius: 8px;
  backdrop-filter: blur(10px);
}

#arcShell div.shell div.taskbar button.start-button img {
  height: 30px;
}

#arcShell div.shell div.taskbar button.action-center-button span {
  font-size: 16px;
}

#arcShell div.shell div.taskbar div.system-area {
  background-color: var(--button-glass-bg);
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 8px;
}

#arcShell div.shell div.startmenu {
  width: 420px;
  height: 490px;
  background-color: var(--glass-bg);
  border-radius: 10px;
  transition: translate 0.3s, opacity 0.3s, pointer-events 0s;
  z-index: 10;
  border: var(--win-border);
  backdrop-filter: blur(10px);
  max-height: 100%;
}

#arcShell div.shell div.startmenu:not(.opened) {
  translate: 0 50px;
  opacity: 0;
  pointer-events: none !important;
}

#arcShell div.shell div.actioncenter {
  width: 400px;
  height: 100%;
  background-color: #f0f;
  background-color: var(--glass-bg);
  border-radius: 10px;
  border: var(--win-border);
  backdrop-filter: blur(10px);
  max-height: 100%;
}
