@import url("./shell/actioncenter.css");
@import url("./shell/taskbar.css");
@import url("./shell/startmenu.css");
@import url("./shell/workspaces.css");
@import url("./shell/pushnotification.css");
@import url("./shell/colored.css");

#arcShell {
  z-index: 1000000000000000000000000000000000000000 !important;
  pointer-events: none !important;
}

#arcShell * {
  pointer-events: none;
}

#arcShell div.shell {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#arcShell div.shell > div * {
  pointer-events: initial !important;
}

#arcShell div.overlay-wrapper,
#arcShell div.overlay-wrapper * {
  pointer-events: initial !important;
}

#arcShell div.shell div.primary {
  height: calc(100% - 50px);
  max-height: calc(100% - 50px);
  overflow: hidden;
  display: grid;
  grid-template-columns: 420px auto 400px;
  align-items: end;
  padding: 10px;
  position: relative;
}

#arcShell div.shell div.secondary {
  z-index: 10000;
  position: relative;
}
