#ShortcutProperties > div.body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ShortcutProperties > div.body input,
#ShortcutProperties > div.body select {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  width: fit-content;
  background-color: transparent;
  background-color: var(--button-bg);
}

#ShortcutProperties > div.body div.info-block {
  background-color: var(--button-bg);
}

#ShortcutProperties > div.body div.icon {
  width: 84px;
  height: 84px;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
}
#ShortcutProperties > div.body div.icon img {
  height: 84px;
}

#ShortcutProperties > div.body div.icon button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 16px;
  padding: 0;
  border-radius: 15px;
  background-color: var(--button-bg);
}

#ShortcutProperties > div.body div.header {
  text-align: center;
  margin-bottom: 20px;
}
#ShortcutProperties > div.body div.header h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

#ShortcutProperties > div.body div.header p {
  opacity: 0.5;
}

#ShortcutProperties > div.body div.info-block {
  width: 100%;
}

#ShortcutProperties > div.body div.info-block div.row {
  gap: 0;
}

#ShortcutProperties > div.body div.info-block + div.info-block {
  margin-top: 20px;
}

#ShortcutProperties > div.body div.info-block div.points-to {
  width: 100%;
}

#ShortcutProperties > div.body div.info-block div.points-to input {
  flex-grow: 1;
}

#ShortcutProperties > div.body div.info-block div.points-to p.value {
  display: flex;
  align-items: center;
  gap: 10px;
}

#ShortcutProperties > div.body div.info-block div.points-to p.value button {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  font-size: 16px;
  background-color: transparent;
}
#ShortcutProperties > div.body div.info-block div.type {
  min-width: fit-content;
}

#ShortcutProperties > div.body div.info-block div.name {
  flex-grow: 1;
}

#ShortcutProperties > div.body div.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--button-glass-bg);
  width: 100%;
  height: 51px;
  margin-top: auto;
  box-shadow: var(--secondary-box-shadow);
}

#ShortcutProperties > div.body div.actions > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}
