#TerminalWindow > div.body {
  padding: 0;
  border-top: none;
  background-color: transparent;
  margin: 5px 10px;
  width: calc(100% - 20px);
  height: calc(100% - 10px - 40px);
}

#TerminalWindow {
  --terminal-background: #000d;
  background-color: var(--terminal-background);
}

#TerminalWindow::before {
  display: none;
}

#TerminalWindow > div.body * {
  font-family: "Fira Mono";
}

#TerminalWindow > div.body div.xterm-viewport {
  transition: background-color 0.3s !important;
}

#TerminalWindow > div.body .xterm-cursor.xterm-cursor-bar {
  box-shadow: 1px 0 0 var(--fg) inset !important;
}

#TerminalWindow > div.body .xterm-cursor.xterm-cursor-outline {
  outline: var(--fg) 1px solid;
}

#TerminalWindow > div.titlebar {
  backdrop-filter: unset;
}
