#TerminalWindow > div.body {
  padding: 0;
  border-top: none;
  background-color: transparent;
  margin: 5px 10px;
  width: calc(100% - 20px);
  height: calc(100% - 10px - 40px);
}

#TerminalWindow {
  background-color: #000d;
}

#TerminalWindow:not(.focused) {
  background-color: #000;
}

.theme-light #TerminalWindow:not(.focused) {
  background-color: #fff;
}

.theme-light #TerminalWindow {
  background-color: #fffd;
}

#TerminalWindow > div.body * {
  font-family: "Source Code Pro";
  /* color: var(--fg); */
}

#TerminalWindow > div.body div.xterm-viewport {
  background-color: transparent !important;
}

#TerminalWindow > div.body .xterm-cursor.xterm-cursor-bar {
  box-shadow: 1px 0 0 var(--fg) inset !important;
}

#TerminalWindow > div.titlebar {
  backdrop-filter: unset;
}
