#TotpAuthGui > div.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#TotpAuthGui > div.body span.lucide {
  display: block;
  font-size: 48px;
  height: 48px;
  color: var(--accent);
  margin-bottom: 10px;
}

#TotpAuthGui > div.body div.inputs {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

#TotpAuthGui > div.body div.inputs input {
  width: 30px;
  height: 40px;
  font-size: 16px;
  font-family: "Source Code Pro";
  padding: 0;
  text-align: center;
}
#TotpAuthGui > div.body h1 {
  font-size: 18px;
}

#TotpAuthGui > div.body p {
  opacity: 0.5;
  margin-top: 5px;
}

#TotpAuthGui > div.body div.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}
