div.window#wallpaper {
  z-index: 1000 !important;
}

div.desktop-wallpaper {
  background-image: var(--src);
  background-position: center;
  background-size: cover;
  height: 100%;
}

div.desktop-wallpaper::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  content: "This is pre-release software";
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 20vw; */
  white-space: wrap;
  box-sizing: border-box;
  text-align: center;
  pointer-events: none;
  padding: 15px 0;
}
