div.window#wallpaper {
  z-index: 1000 !important;
}

div.desktop-wallpaper {
  background-image: var(--src);
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: background-image 0.3s;
}
