div.window#wallpaper {
  z-index: 1000 !important;
  pointer-events: none !important;
}
div.window#wallpaper > div.body {
  position: relative;
}

div.desktop-wallpaper {
  height: 100%;
}

div.desktop-wallpaper > div.wallpaper {
  background-image: var(--src);
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: background-image 0.3s;
  opacity: 1;
  pointer-events: all;
}

div.desktop-wallpaper > div.wallpaper:not(.show) {
  opacity: 0;
}

#wallpaper div.desktop-icons {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--taskbar-allocation));
  z-index: 1000000000000000000000000000000;
}

#wallpaper div.desktop-icons div.ghost,
#wallpaper div.desktop-icons button {
  height: fit-content;
  margin: 0;
  margin-bottom: 12px;
  border: none;
  background-color: transparent;
  vertical-align: top;
  padding: 2px 5px;
  border-radius: 5px;
  /* transition: all 0.3s, top 0s, left 0s, translate 0s, transform 0s,
    background-color 0s; */
  position: absolute;
  top: 0;
  left: 0;
  width: 80px !important;
  text-align: center;
  pointer-events: initial !important;
  translate: none !important;
}

#wallpaper div.desktop-icons div.ghost {
  display: none;
  background-color: #fff2;
  pointer-events: none;
  opacity: 0.5;
}

#wallpaper div.desktop-icons div.ghost.moving {
  display: block;
  top: var(--top);
  left: var(--left);
}

#wallpaper div.desktop-icons div.img {
  position: relative;
  width: 32px;
  margin: 0 auto;
  height: 32px;
}

#wallpaper div.desktop-icons div.img span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  width: 12px;
  height: 12px;
  text-align: center;
  border-radius: 2px;
  line-height: 12px;
}

#wallpaper div.desktop-icons button p {
  margin: 0;
  height: fit-content;
  max-height: 2.6em;
  text-shadow: #000 0 0 5px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

#wallpaper div.desktop-icons img {
  height: 32px;
}

#wallpaper div.desktop-icons button:hover {
  background-color: #fff2;
}

#wallpaper div.desktop-icons button.selected {
  background-color: var(--accent-transparent);
  min-height: fit-content !important;
}

#wallpaper div.desktop-icons button.selected p {
  min-height: fit-content !important;
}

#wallpaper div.desktop-icons button.moving {
  transition: none !important;
  pointer-events: none;
  background-color: var(--accent);
  opacity: 0.3;
}

#wallpaper div.desktop-icons button.moving * {
  opacity: 0;
}

#wallpaper div.desktop-icons button.moving.no-grid {
  opacity: 0;
}
