.crash-screen {
  background-color: #111;

  opacity: 0;
  animation: crash-show 0s linear forwards;
  animation-delay: 1s;
  transition: none !important;
}

.crash-screen * {
  color: #ddd;
}

.crash-screen #crashScreen,
.crash-screen p#crashText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.crash-screen #crashScreen > p {
  max-width: 360px;
  text-align: center;
}

.crash-screen p#crashText {
  white-space: pre-wrap;
  overflow-y: scroll;
  padding: 10px;
  font-size: 13px;
  font-family: "Source Code Pro";
}

.crash-screen p#crashTextBrief {
  margin-top: 40px;
  opacity: 0.5;
  font-family: "Source Code Pro";
  max-width: unset;
  text-align: left;
  width: unset;
}

.crash-screen #crashScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
}

.crash-screen #crashScreen.hidden {
  display: none;
}

.crash-screen #crashScreen > span {
  font-size: 96px;
  opacity: 0.5;
  margin-bottom: 25px;
}

.crash-screen #crashScreen > h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.crash-screen #crashScreen > div.shortcut-hint {
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 14px;
}

.crash-screen #crashScreen > div.shortcut-hint span.lucide {
  font-size: 16px;
  height: 16px;
}

.crash-screen #crashScreen > div.shortcut-hint span.key {
  padding: 2px 6px;
  background-color: #fff3;
  border-radius: 5px;
}

.crash-screen #crashScreen > div.shortcut-hint div.sep {
  width: 1px;
  height: 30px;
  background-color: #fff3;
}

@keyframes crash-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
