.crash-screen {
  background-color: #000;
  font-family: "unifont";

  opacity: 0;
  animation: crash-show 0s linear forwards;
  animation-delay: 1s;
  transition: none !important;
  font-size: 16px;
}

.crash-screen p#crashText {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: pre;
}

@keyframes crash-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
