div.license-declined {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.license-declined span.lucide {
  font-size: 128px;
  opacity: 0.5;
}

div.license-declined p {
  position: fixed;
  bottom: 10vw;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
}
