div.server-down {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.server-down span.lucide {
  font-size: 128px;
  opacity: 0.5;
}

div.server-down p {
  position: absolute;
  bottom: 10vw;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

div.server-down div.shortcut-hint {
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 14px;
}

div.server-down div.shortcut-hint span.lucide {
  font-size: 16px;
  height: 16px;
}

div.server-down div.shortcut-hint span.key {
  padding: 2px 6px;
  background-color: #fff3;
  border-radius: 5px;
}

div.server-down div.shortcut-hint div.sep {
  width: 1px;
  height: 30px;
  background-color: #fff3;
}
