@import url("./appstore/page/home.css");
@import url("./appstore/page/installed.css");
@import url("./appstore/page/madebyyou.css");
@import url("./appstore/page/managestoreitem.css");

#AppStore > div.body {
  padding: 0;
  display: flex;
}

#AppStore > div.body div.sidebar {
  width: 250px;
  height: 100%;
}

#AppStore > div.body div.sidebar div.search {
  display: flex;
  height: 40px;
  border-bottom: var(--button-glass-bg) 1px solid;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}

#AppStore > div.body div.sidebar div.search input {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

#AppStore > div.body div.sidebar div.search button.enter-indicator {
  width: 18px;
  height: 18px;
  padding: 0;
  font-size: 12px;
  border-radius: 4px;
  border: var(--button-glass-hover-bg) 1px solid;
}

#AppStore > div.body div.sidebar div.search span.lucide {
  font-size: 16px;
}

#AppStore > div.body div.sidebar div.pages {
  padding: 0 10px;
  height: calc(100% - 40px - 70px);
  overflow-y: scroll;
  padding-right: 2px;
}

#AppStore > div.body div.sidebar div.pages p.group-name {
  font-weight: bold;
  padding: 0 7px;
  margin-top: 10px;
  margin-bottom: 5px;
  opacity: 0.5;
}

#AppStore > div.body div.sidebar div.pages button {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 30px;
  padding: 0 7px;
  width: 100%;
  background-color: transparent;
  margin-bottom: 5px;
}

#AppStore > div.body div.sidebar div.pages button.selected {
  background-color: var(--accent-transparent);
}

#AppStore > div.body div.sidebar div.pages span.lucide {
  font-size: 16px;
  color: var(--accent-lighter);
  height: 16px;
}

#AppStore > div.body div.sidebar div.account {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  height: 70px;
}

#AppStore > div.body > div.container {
  border-left: var(--win-border);
  background-color: var(--win-bg);
  width: calc(100% - 250px);
  max-width: calc(100% - 250px);
  height: 100%;
}

#AppStore > div.body > div.container div.page {
  height: calc(100% - 40px);
  overflow-y: auto;
}

#AppStore > div.body > div.container div.page.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#AppStore div.page > * {
  margin: 0 auto;
}

#AppStore > div.body > div.container section {
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
}

#AppStore > div.body > div.container section > h1 {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

#AppStore > div.body > div.container section > h1 button {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#AppStore > div.body > div.container section > h1 button span {
  color: var(--accent-lighter);
  font-size: 14px;
}
#AppStore > div.body > div.container section > h1 button span.lucide {
  font-size: 16px;
}

#AppStore > div.body > div.container section.package-grid div.items button {
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: left;
  gap: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#AppStore > div.body > div.container section.package-grid button.item img {
  width: 40px;
  height: 40px;
}

#AppStore > div.body > div.container section.package-grid div.items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

#AppStore > div.body div.app-listing {
  background-color: var(--button-bg);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--secondary-box-shadow);
}

#AppStore > div.body div.app-listing div.app-row {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 46px;
  padding: 0 10px;
  border-bottom: var(--win-border);
}

#AppStore > div.body div.app-listing div.app-row:last-child {
  border-bottom: none;
  height: 45px;
}

#AppStore > div.body div.app-listing div.app-row img {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

#AppStore > div.body div.app-listing div.app-row * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#AppStore > div.body div.app-listing div.app-row p.name {
  font-weight: bold;
}

#AppStore > div.body div.app-listing div.app-row p.author {
  width: 35%;
  min-width: 35%;
  margin-left: auto;
}

#AppStore > div.body div.app-listing div.app-row p.version {
  opacity: 0.5;
  width: 15%;
  min-width: 15%;
  text-align: right;
}

#AppStore > div.body div.app-listing div.app-row div.actions {
  width: 15%;
  min-width: 15%;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: end;
}

#AppStore > div.body div.app-listing div.app-row div.actions button.lucide {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  padding: 0;
  font-size: 16px;
  background-color: transparent;
}
