@import url("./bughunt/sidebar.css");
@import url("./bughunt/container.css");
@import url("./bughunt/actionbar.css");
@import url("./bughunt/creator.css");

#BugHunt > div.body {
  padding: 0;
  display: flex;
}

#BugHunt > div.body > div {
  height: 100%;
}

#BugHunt > div.body div.info-block + div.info-block {
  margin-top: 15px;
}

#BugHunt > div.body div.spinner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
