#BugHunt > div.body {
  padding: 0;
  display: flex;
}

#BugHunt > div.body > div {
  height: 100%;
}
#BugHunt > div.body > div.sidebar {
  max-width: 250px;
  width: 250px;
}

#BugHunt > div.body div.sidebar div.tabs {
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  align-items: end;
  gap: 10px;
  border-bottom: var(--accent-lighter) 1px solid;
  height: 40px;
}

#BugHunt > div.body div.sidebar div.tabs > button {
  font-weight: normal;
  min-width: unset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 28px;
  padding: 0 15px;
}

#BugHunt > div.body div.sidebar div.selector {
  padding: 10px;
  padding-right: 2px;
  overflow-y: scroll;
  height: calc(100% - 40px);
}
#BugHunt > div.body div.sidebar div.selector > button {
  text-align: left;
  width: 100%;
  background-color: transparent;
  padding: 5px 7px;
  display: flex;
  align-items: start;
  gap: 15px;
  margin-bottom: 5px;
}

#BugHunt > div.body div.sidebar div.selector > button:hover {
  background-color: var(--button-glass-bg);
}

#BugHunt > div.body div.sidebar div.selector > button.selected {
  background-color: var(--accent-transparent);
}

#BugHunt > div.body div.sidebar div.selector > button * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#BugHunt > div.body div.sidebar div.selector > button p {
  opacity: 0.5;
  font-size: 12px;
}

#BugHunt > div.body div.sidebar div.selector > button h1 {
  height: 16px;
  line-height: 16px;
  margin-bottom: 5px;
}

#BugHunt > div.body div.sidebar div.selector > button > div {
  max-width: calc(100% - 16px - 15px);
}

#BugHunt > div.body div.sidebar div.selector > button span.lucide {
  font-size: 16px;
  height: 16px;
  color: var(--accent-lighter);
}

#BugHunt > div.body > div.container {
  width: calc(100% - 250px);
  max-width: calc(100% - 250px);
  border-left: var(--win-border);
  background-color: var(--win-bg);
}
