#CameraApp > div.body {
  padding: 0;
  background-color: #000;
}

#CameraApp > div.body div.viewfinder {
  width: 100%;
  height: 100%;
}

#CameraApp > div.body video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#CameraApp > div.body div.panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 61px;
  border-top: var(--win-border);
  background-color: var(--glass-bg);
  backdrop-filter: blur(var(--blur));
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
  padding-right: 15px;
}

#CameraApp > div.body div.panel > button:not(.capture) {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 16px;
}

#CameraApp > div.body div.panel button.capture {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  translate: -20px;
  top: 10px;
  border-radius: 50%;
  background-color: var(--accent-light);
  color: var(--accent-darkest);
  padding: 0;
  font-size: 24px;
  min-width: unset;
  font-weight: normal;
}
