@import url("./filemanager/sidebar.css");
@import url("./filemanager/addressbar.css");
@import url("./filemanager/directoryviewer.css");
@import url("./filemanager/splash.css");
@import url("./filemanager/bottom.css");

#fileManager > div.body {
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

#fileManager > div.body div.container {
  height: 100%;
  background-color: var(--win-bg);
  width: calc(100% - 200px);
}

#fileManager > div.body div.main-content {
  height: calc(100% - 45px);
}

#fileManager > div.overlay-wrapper > div.window.overlay {
  top: 15px;
  scale: 1 !important;
  margin-top: -100px;
  max-height: calc(100% - 30px) !important;
  min-height: unset !important;
}

#fileManager div.window.overlay.visible:not(.closing) {
  margin-top: 0;
}

#fileManager.overlay {
  width: 700px !important;
  height: 520px !important;
  resize: none;
}
