#fileManager > div.body {
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

#fileManager > div.body div.sidebar {
  height: 100%;
  width: 200px;
  border-right: var(--win-border);
}

#fileManager > div.body div.container {
  height: 100%;
  background-color: var(--win-bg);
  width: calc(100% - 200px);
}

#fileManager > div.body div.sidebar {
  padding: 10px;
}

#fileManager > div.body div.sidebar button {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 7px;
  margin-bottom: 5px;
  background-color: transparent;
}

#fileManager > div.body div.sidebar button img {
  width: 24px;
  height: 24px;
}

#fileManager > div.body div.sidebar button span.lucide {
  font-size: 16px;
  color: var(--accent-light);
}

#fileManager > div.body div.sidebar button:hover {
  background-color: var(--button-glass-bg);
}

#fileManager > div.body div.sidebar button:active {
  background-color: var(--button-glass-active-bg);
}

#fileManager > div.body div.sidebar section h1 {
  opacity: 0.5;
  padding: 5px 7px;
}

#fileManager > div.body div.sidebar section + section {
  margin-top: 10px;
}
#fileManager > div.body div.address-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 5px 15px;
  margin-bottom: 0;
}

#fileManager > div.body div.address-bar button.lucide {
  height: 32px;
  width: 32px;
  padding: 0;
  min-width: 32px;
  font-size: 16px;
}

#fileManager > div.body div.address-bar div.address {
  flex-grow: 1;
  border-radius: 8px;
  background-color: var(--button-glass-bg);
  height: 32px;
}

#fileManager > div.body div.address-bar div.sep {
  width: 1px;
  height: 30px;
  background-color: var(--button-glass-bg);
}

#fileManager > div.body div.address-bar button.new-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  height: 32px;
}

#fileManager > div.body div.address-bar button.new-item span.lucide {
  font-size: 16px;
}

#fileManager > div.body div.address-bar div.group {
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: fit-content;
}
