@import url("./filemanager/sidebar.css");
@import url("./filemanager/addressbar.css");
@import url("./filemanager/directoryviewer.css");
@import url("./filemanager/virtual/myarcos.css");
@import url("./filemanager/virtual/recyclebin.css");
@import url("./filemanager/infopane.css");
@import url("./filemanager/splash.css");
@import url("./filemanager/bottom.css");

#fileManager > div.body {
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

#fileManager > div.body div.container {
  height: 100%;
  background-color: var(--win-bg);
  width: calc(100% - 200px);
}

#fileManager > div.body div.main-content {
  height: calc(100% - 45px);
}

#fileManager > div.overlay-wrapper > div.window.overlay {
  top: 15px;
  scale: 1 !important;
  margin-top: -100px;
  max-height: calc(100% - 30px) !important;
  min-height: unset !important;
}

#fileManager div.window.overlay.visible:not(.closing) {
  margin-top: 0;
}

#fileManager.overlay {
  width: 700px;
  height: 520px;
  /* resize: none; */
}

#fileManager div.virtual-page {
  height: calc(100% - 40px - 0px);
  overflow-y: scroll;
  padding: 15px;
  position: relative;
  transition: height 0.3s;
}

#fileManager div.virtual-page div.directory-viewer {
  width: 100%;
}

#fileManager div.viewer-wrapper {
  width: 100%;
  height: calc(100% - 40px - 53px);
  display: flex;
}
