#fileManager > div.body {
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

#fileManager > div.body div.sidebar {
  height: 100%;
  width: 200px;
  border-right: var(--win-border);
}

#fileManager > div.body div.container {
  height: 100%;
  background-color: var(--win-bg);
  width: calc(100% - 200px);
}

#fileManager > div.body div.sidebar {
  padding: 10px;
}

#fileManager > div.body div.sidebar button {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 7px;
  margin-bottom: 5px;
  background-color: transparent;
}

#fileManager > div.body div.sidebar button img {
  width: 24px;
  height: 24px;
}

#fileManager > div.body div.sidebar button span.lucide {
  font-size: 16px;
  color: var(--accent-light);
}

#fileManager > div.body div.sidebar button:hover {
  background-color: var(--button-glass-bg);
}

#fileManager > div.body div.sidebar button:active {
  background-color: var(--button-glass-active-bg);
}

#fileManager > div.body div.sidebar section h1 {
  opacity: 0.5;
  padding: 5px 7px;
}

#fileManager > div.body div.sidebar section + section {
  margin-top: 10px;
}
#fileManager div.address-bar {
  display: flex;
  gap: 10px;
  height: 30px;
  margin: 5px 15px;
  margin-bottom: 0;
  align-items: center;
  position: relative;
}

#fileManager div.address-bar div.portion.address {
  flex-grow: 1;
  max-width: calc(100% - 243px);
}

#fileManager div.address-bar div.path {
  flex-grow: 1;
  max-width: calc(100% - 35px);
  background-color: var(--button-bg);
  border-radius: var(--button-border-rad);
  line-height: 30px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

#fileManager div.address-bar.system div.path {
  background-image: repeating-linear-gradient(
    -45deg,
    #0000 0px,
    #0000 20px,
    rgba(255, 166, 0, 0.1) 20px,
    rgba(255, 166, 0, 0.1) 40px,
    #0000 40px
  );
}

/* 
#fileManager div.address-bar.system div.path {
  background-color: var(--clr-orange-bg);
  color: var(--clr-orange-fg);
} */

#fileManager div.address-bar button {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  min-width: unset;
}

#fileManager div.address-bar button:not(.suggested) {
  background-color: var(--button-bg);
}

#fileManager div.address-bar button.suggested {
  opacity: 1;
}

#fileManager div.address-bar div.portion {
  display: flex;
  gap: 5px;
}

#fileManager div.address-bar div.sep {
  width: 1px;
  height: 20px;
  background-color: var(--button-hover-bg);
}
