#HexEdit div.container {
  height: 100%;
  display: flex;
  align-items: start;
  font-family: "Source Code Pro";
  /* overflow-y: auto; */
}

#HexEdit > div.body {
  padding: 0;
}

#HexEdit div.container > div + div {
  border-left: var(--win-border);
}

#HexEdit div.container > div {
  padding: 10px;
  min-height: 100%;
  height: fit-content;
}

#HexEdit > div.body div.hex-editor {
  background-color: var(--button-bg);
}

#HexEdit > div.body div.hex-editor div.hex-row {
  height: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#EditRow > div.body div.bytes input,
#HexEdit > div.body div.hex-editor button {
  padding: 0;
  background-color: var(--button-bg);
  border: none;
  width: 20px;
  height: 20px;
  min-width: unset !important;
  font-family: "Source Code Pro";
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
}

#HexEdit > div.body div.offsets {
  width: 120px;
}

#HexEdit > div.body div.offsets button {
  padding: 0;
  display: block;
  width: 100%;
  height: 20px;
  margin-bottom: 5px;
  border-radius: 3px;
  text-align: left;
  background-color: transparent;
}

#HexEdit > div.body div.offsets button:hover {
  color: var(--accent-lighter);
  font-weight: bold;
}

#EditRow > div.body input.changed,
#HexEdit > div.body div.hex-editor button.changed {
  font-weight: bold;
}

#HexEdit div.body .nul {
  opacity: 0.5;
}

#HexEdit div.body .ascii-control {
  color: var(--clr-green-fg);
  background-color: var(--clr-green-bg);
}

#HexEdit div.body .printable-ascii {
  color: var(--clr-blue-fg);
  background-color: var(--clr-blue-bg);
}

#HexEdit div.body .rest {
  color: var(--clr-orange-fg);
  background-color: var(--clr-orange-bg);
}

#HexEdit div.body .invalid {
  background-color: var(--clr-red-bg) !important;
}

#HexEdit > div.body div.decoded div {
  height: 20px;
  margin-bottom: 5px;
}

#EditRow > div.body {
  padding: 0;
}

#EditRow > div.body div.top {
  height: calc(100% - 51px);
  padding: 20px;
}

#EditRow > div.body div.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

#EditRow > div.body div.row.primary div.offset {
  font-weight: bold;
  color: var(--accent-lighter);
}

#EditRow > div.body div.row div.offset {
  font-family: "Source Code Pro";
}

#EditRow > div.body div.bytes {
  display: flex;
  align-items: center;
  gap: 5px;
}
#EditRow > div.body div.bytes input {
  background-color: transparent;
}

#EditRow > div.body input.invalid {
  background-color: var(--clr-red-fg) !important;
  color: var(--clr-red-bg) !important;
  font-weight: bold;
}

#EditRow div.bottom {
  display: flex;
  margin-top: auto;
  justify-content: end;
  align-items: end;
  border-top: var(--win-border);
  padding: 10px;
  background-color: var(--button-bg);
  min-height: 50px;
  gap: 10px;
}

#EditRow div.bottom button {
  min-width: 70px;
  margin: 0;
}

#EditRow div.bottom button:not(.suggested) {
  background-color: var(--button-hover-bg);
}

#EditRow div.bottom button:not(.suggested):hover {
  background-color: var(--button-glass-hover-bg);
}

#EditRow div.bottom button:not(.suggested):active {
  background-color: var(--button-active-bg);
}
