#ImageViewer > div.body {
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--win-bg);
  border-top: var(--win-border);
}

#ImageViewer > div.body img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
