#LightsOff > div.body {
  padding: 0;
  border-top: var(--win-border);
  border-radius: 9.5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#LightsOff > div.titlebar {
  border-radius: 9.5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#LightsOff {
  overflow: visible !important;
}
