@import url("./logging/sidebar.css");

#logging > div.body {
  padding: 0;
  display: flex;
  align-items: center;
}

#logging > div.body div.container {
  height: 100%;
  width: calc(100% - 200px);
  background-color: var(--win-bg);
}
#logging div.options {
  display: flex;
  gap: 10px;
  height: 40px;
  margin: 5px 15px;
  padding-bottom: 10px;
  margin-bottom: 0;
  align-items: center;
  position: relative;
}

#logging div.list-wrapper {
  height: calc(100% - 85px);
  padding: 20px;
  padding-top: 0;
  overflow-y: scroll;
}

#logging div.list-wrapper table {
  border-collapse: collapse;
  /* width: 100%; */
}

#logging div.list-wrapper thead tr {
  text-align: left;
}

#logging div.options div.current-source {
  flex-grow: 1;
  max-width: calc(100% - 51px);
  background-color: var(--button-bg);
  border-radius: var(--button-border-rad);
  /* line-height: 30px; */
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

#logging div.options div.current-source * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#logging div.options.archive div.current-source {
  background-color: var(--clr-orange-bg);
}

#logging div.options div.current-source div.pill {
  padding: 0 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--button-glass-bg);
  height: 24px;
  border-radius: 5px;
}

#logging div.options div.current-source div.pill span.lucide {
  font-size: 16px;
  color: var(--accent-light);
}

#logging div.options.archive div.current-source div.pill,
#logging div.options.archive div.current-source div.pill * {
  color: var(--clr-orange-bg) !important;
  background-color: var(--clr-orange-fg);
}

#logging div.options div.current-source img {
  height: 16px;
}

#logging div.options button {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  min-width: unset;
}

#logging div.options div.filter-options {
  display: flex;
  align-items: center;
  gap: 5px;
}

#logging div.options div.sep {
  width: 1px;
  height: 20px;
  background-color: var(--button-hover-bg);
}

#logging > div.body div.log-list div.row {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-bottom: var(--win-border);
  gap: 10px;
}

#logging > div.body div.log-list div.row .icon,
#logging > div.body div.log-list div.row .icon img {
  width: 16px;
  height: 16px;
}

#logging > div.body div.log-list div.row.head div.segment {
  font-weight: bold;
}

#logging > div.body div.log-list div.row div.segment {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#logging > div.body div.log-list div.row div.segment.message {
  max-width: calc(100% - 160px - 16px - 20px);
}

#logging > div.body div.log-list div.row div.segment:not(.icon) {
  padding-right: 30px;
}

#logging > div.body div.log-list div.row div.segment.timestamp {
  width: 160px;
}

#logging > div.body div.log-list div.row:not(.head) div.segment.timestamp {
  font-family: "Source Code Pro";
}
