/* #MediaPlayer:not(.maximized) {
  width: fit-content !important;
  height: fit-content !important;
} */

#MediaPlayer > div.body {
  transition: none !important;
  min-width: 440px;
  min-height: 350px;
  display: flex;
  align-items: center;
  padding: 0;
}

#MediaPlayer > div.body > div.container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
  height: 100%;
  padding: 20px;
}

#MediaPlayer > div.body > div.queue {
  width: 200px;
  height: 100%;
  border-left: var(--win-border);
  padding: 10px;
  padding-right: 2px;
  overflow-y: scroll;
}

#MediaPlayer.fullscreen > div.body > div.queue {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--glass-bg);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  border: var(--win-border);
  height: calc(100% - 89px - 30px);
  transition: translate 0.3s;
}

#MediaPlayer.fullscreen > div.body > div.queue.hide {
  translate: 220px;
}

#MediaPlayer > div.body > div.queue > div {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  margin-bottom: 5px;
  border-radius: 8px;
}

#MediaPlayer > div.body > div.queue > div:hover {
  background-color: var(--button-glass-bg);
}

#MediaPlayer > div.body > div.queue > div:active {
  background-color: var(--button-glass-active-bg);
}

#MediaPlayer > div.body > div.queue > div.selected {
  background-color: var(--accent-transparent);
}

#MediaPlayer > div.body > div.queue > div > span.lucide {
  width: 24px;
  height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
}

#MediaPlayer > div.body > div.queue > div > span.name {
  white-space: nowrap;
  max-width: calc(100% - 29px);
  overflow: hidden;
  text-overflow: ellipsis;
}

#MediaPlayer > div.body > div.queue > div button.lucide {
  width: 24px;
  height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  min-width: 24px;
}

#MediaPlayer > div.body > div.queue > div:not(:hover) button.lucide {
  display: none;
}

#MediaPlayer video,
#MediaPlayer div.audio-visual {
  flex-grow: 1;
  max-height: calc(100% - 90px);
  background-color: var(--button-glass-bg);
  border-radius: var(--win-border-rad);
  margin-bottom: 20px;
  /* height: 350px; */
  height: 100%;
  /* aspect-ratio: 16/9; */
}

#MediaPlayer.fullscreen video,
#MediaPlayer.fullscreen div.audio-visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: unset;
  box-shadow: none;
  border-radius: 0;
  background-color: #000;
}

#MediaPlayer > div.body div.controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

#MediaPlayer.fullscreen > div.body div.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  background-color: var(--glass-bg);
  backdrop-filter: blur(15px);
  padding: 15px;
  border-radius: 10px;
  border: var(--win-border);
  height: 89px;
  padding-top: 32px;
  transition: translate 0.3s;
}

#MediaPlayer.fullscreen > div.body div.container.hide-controls div.controls {
  translate: 0 100px;
}

#MediaPlayer.fullscreen > div.body div.container.hide-controls div.bar {
  translate: 0 100px;
}

#MediaPlayer.fullscreen > div.body div.bar {
  position: absolute;
  bottom: 82px;
  left: 20px;
  width: calc(100% - 40px);
  margin-bottom: 0;
  z-index: 1000;
  transition: translate 0.3s;
}

#MediaPlayer > div.body div.controls button {
  border-radius: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  font-size: 20px;
  padding: 0;
  box-shadow: none;
  min-width: unset;
  border-radius: 50%;
}

#MediaPlayer > div.body div.controls button.previous,
#MediaPlayer > div.body div.controls button.next,
#MediaPlayer > div.body div.controls button.forward,
#MediaPlayer > div.body div.controls button.reverse {
  width: 30px;
  height: 30px;
}

#MediaPlayer > div.body div.controls button.stop {
  width: 26px;
  height: 26px;
  font-size: 14px;
}
#MediaPlayer > div.body div.controls div.group {
  display: flex;
  border-radius: var(--button-border-rad);
  overflow: hidden;
  gap: 10px;
}

#MediaPlayer > div.body div.controls div.timestamp {
  margin-left: auto;
}

#MediaPlayer > div.body div.bar {
  width: 100%;
  height: 7px;
  background-color: var(--button-glass-bg);
  border-radius: 3.5px;
  border: var(--button-glass-bg) 1px solid;
  overflow: hidden;
  margin: 20px 0;
  margin-top: auto;
  min-height: 7px;
}

#MediaPlayer > div.body div.bar.bounce div.inner {
  width: 20%;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0% {
    translate: 0%;
  }

  50% {
    translate: 400%;
  }

  100% {
    translate: 0;
  }
}

#MediaPlayer > div.body div.bar div.inner {
  height: 5px;
  width: var(--w);
  background-color: var(--accent);
  transition: none;
  border-radius: 2.5px;
}

#MediaPlayer > div.body div.file {
  display: flex;
  gap: 10px;
  align-items: center;
}

#MediaPlayer > div.body div.file img {
  height: 24px;
}

#MediaPlayer > div.body video {
  display: none;
}

#MediaPlayer > div.body video.show {
  display: block;
}

#MediaPlayer div.audio-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#MediaPlayer div.audio-visual div.file {
  width: 100%;
  padding: 10px;
  margin-top: auto;
}

#MediaPlayer div.audio-visual > span {
  background-color: var(--button-glass-bg);
  text-align: center;
  line-height: 64px;
  font-size: 40px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-top: auto;
  translate: 0 22px;
}

#MediaPlayer div.no-file {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#MediaPlayer div.no-file img {
  height: 48px;
  margin-bottom: 20px;
}

#MediaPlayer div.no-file p {
  margin: 0;
  opacity: 0.5;
  max-width: 70%;
  text-align: center;
}
