@import url("./mediaplayer/file.css");
@import url("./mediaplayer/queue.css");
@import url("./mediaplayer/player.css");
@import url("./mediaplayer/controls.css");
@import url("./mediaplayer/bar.css");
@import url("./mediaplayer/nofile.css");
@import url("./mediaplayer/popup.css");

#MediaPlayer > div.body {
  transition: none !important;
  min-width: 440px;
  min-height: 350px;
  display: flex;
  align-items: center;
  padding: 0;
  position: relative;
}

#MediaPlayer > div.body > div.container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
  height: 100%;
  /* padding: 20px; */
}

#MediaPlayer > div.body > div.container::before {
  z-index: 0;
}

#MediaPlayer.fullscreen {
  background-color: var(--accent-dark) !important;
}

#MediaPlayer.fullscreen > div.body > div.container {
  width: 100%;
  padding: 0;
}

#MediaPlayer.fullscreen > div.body > div.container.hide-controls {
  cursor: none;
}
