@import url("./messages/pagebar.css");
@import url("./messages/sidebar.css");
@import url("./messages/header.css");
@import url("./messages/thread.css");
@import url("./messages/attachmentbar.css");

#Messages > div.body div.titlebar.custom {
  border-bottom: var(--win-border);
}

#Messages > div.body {
  padding: 0;
  display: flex;
  height: 100%;
}

#Messages > div.body div.window-action-bar {
  background-color: var(--win-bg);
}

#Messages > div.body div.container {
  width: 0;
  flex-grow: 1;
  background-color: var(--win-bg);
  display: flex;
  flex-direction: column;
}

#Messages > div.body div.container.full {
  width: 100%;
}

#Messages > div.body div.container div.message-content {
  height: 0;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 20px;
}

#Messages > div.body div.container div.message-content hr {
  margin: 20px 0;
  border: none;
  border-top: var(--win-border);
}

#Messages > div.body div.container div.center-notice {
  height: calc(100% - 40px - 51px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#Messages > div.body div.container div.center-notice img {
  height: 84px;
  margin-bottom: 10px;
}

#Messages > div.body div.container div.center-notice p {
  opacity: 0.5;
}

#Messages > div.body div.container div.center-notice h1 {
  margin-bottom: 5px;
  font-size: 16px;
}

#arcShell .actioncenter .notification.incoming-message img.icon,
#arcShell .push-notification.incoming-message img.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
#Messages > div.body div.container div.has-reply {
  background-color: var(--clr-blue-bg);
  color: var(--clr-blue-fg);
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding: 0 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  outline: var(--button-glass-bg) 1px solid;
  outline-offset: -1px;
}

#Messages > div.body div.container div.has-reply span.lucide {
  font-size: 20px;
}

#Messages > div.body div.container div.has-reply button.link {
  color: inherit;
}
