@import url("./minesweeper/header.css");
@import url("./minesweeper/grid.css");
@import url("./minesweeper/besttimes.css");

#MinesweeperApp {
  --digit-bg: #440000;
  --digit-backdrop: #660000;
  --digit-fg: #ff0000;
}

#MinesweeperApp {
  max-width: 80% !important;
  max-height: 80% !important;
}

#MinesweeperApp,
#MinesweeperApp > div.body {
  height: fit-content !important;
  width: fit-content !important;
}

#MinesweeperApp > div.body {
  overflow-y: scroll !important;
}
