@import url("./settings/sidebar.css");
@import url("./settings/themesheader.css");
@import url("./settings/section.css");
@import url("./settings/page/account.css");
@import url("./settings/page/themes.css");
@import url("./settings/page/wallpaper.css");
@import url("./settings/page/security.css");
@import url("./settings/page/loginbackground.css");
@import url("./settings/page/about.css");
@import url("./settings/overlay/savetheme.css");
@import url("./settings/overlay/changeusername.css");
@import url("./settings/overlay/changepassword.css");
@import url("./settings/slide.css");
@import url("./settings/slide/weatherlocation.css");
@import url("./settings/slide/userstyle.css");
@import url("./settings/slide/loginactivity.css");

#systemSettings > div.body {
  padding: 0;
  display: flex;
  height: 100%;
}

#systemSettings > div.body div.sidebar {
  width: 250px;
  height: 100%;
  border-right: var(--win-border);
}

#systemSettings > div.body div.container {
  flex-grow: 1;
  max-width: calc(100% - 250px);
  background-color: var(--win-bg);
  transition: background-color 0.2s, color 0.2s;
  position: relative;
}

#systemSettings > div.body div.container > div.titlebar.custom.sliding {
  background-color: var(--win-bg);
}
#systemSettings > div.body div.container > div.titlebar.custom button.lucide {
  font-size: 16px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5px;
  background-color: transparent;
}

#systemSettings
  > div.body
  div.container
  > div.titlebar.custom
  button.lucide:hover {
  background-color: var(--button-glass-bg);
}

button.lucide:active {
  background-color: var(--button-glass-active-bg);
}

#systemSettings > div.body div.page-content {
  padding: 15px;
  padding-top: 10px;
  height: calc(100% - 40px);
  transition: pointer-events 0s, scale 0.3s, opacity 0.3s;
  overflow-y: auto;
}

#systemSettings > div.body div.page-content.hide {
  pointer-events: none;
  scale: 0.95;
  opacity: 0;
}

#systemSettings > div.body div.container h1.page-title {
  font-size: 24px;
  margin: 12px 5px;
}

#systemSettings > div.body div.centered-layout {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  text-align: center;
}

#systemSettings > div.body div.centered-layout > div.header img {
  height: 84px;
  margin-bottom: 15px;
}

#systemSettings > div.body div.centered-layout > div.header h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

#systemSettings > div.body div.centered-layout > div.header p {
  opacity: 0.5;
}
