@import url("./sqeleton/intro.css");
@import url("./sqeleton/layout.css");
@import url("./sqeleton/sidebar.css");
@import url("./sqeleton/actionbar.css");
@import url("./sqeleton/bottompane.css");
@import url("./sqeleton/statusbar.css");
#Sqeleton > div.body {
  padding: 0;
}
