#fileManager div.directory-viewer.thumbnail {
  display: block;
  gap: 10px;
  padding-top: 15px;
  overflow-y: scroll;
}

#fileManager div.directory-viewer.thumbnail p.empty,
#fileManager div.directory-viewer.thumbnail div.center-flex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 25px;
}

#fileManager div.directory-viewer.thumbnail button.header-row {
  display: none;
}

#fileManager div.directory-viewer.thumbnail button {
  height: fit-content;
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  background-color: transparent;
  vertical-align: top;
  padding: 2px 5px;
  border-radius: 5px;
  /* transition: all 0.3s, top 0s, left 0s, translate 0s, transform 0s,
    background-color 0s; */
  width: 90px !important;
  text-align: center;
  gap: 5px;
  margin: 2.5px;
  margin-bottom: 5px;
}

#fileManager div.directory-viewer.thumbnail button div.segment.icon img {
  width: 64px;
  height: 64px;
}

#fileManager div.directory-viewer.thumbnail button div.segment.icon {
  width: unset;
  height: 64px;
}

#fileManager div.directory-viewer.thumbnail button div.segment:not(.name):not(.icon) {
  display: none;
}

#fileManager div.directory-viewer.thumbnail button div.segment.name {
  width: 100%;
  text-align: center;
  max-width: unset;
  margin: 0;
  height: fit-content;
  max-height: 2.6em;
  color: var(--fg);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
