#Sqeleton > div.body div.bottom-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Sqeleton > div.body div.bottom-pane div.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  height: 32px;
  gap: 5px;
}

#Sqeleton > div.body div.bottom-pane div.pane-content {
  width: 100%;
  height: 0;
  flex-grow: 1;
  border-top: var(--win-border);
}

#Sqeleton > div.body div.bottom-pane div.tabs button {
  border-radius: 0;
  outline: none;
  background-color: transparent;
  height: 32px;
  padding: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

#Sqeleton > div.body div.bottom-pane div.tabs button:hover {
  background-color: var(--button-glass-bg);
}

#Sqeleton > div.body div.bottom-pane div.tabs button.active {
  background-color: var(--accent-transparent);
}
#Sqeleton > div.body div.bottom-pane div.tabs button span.count {
  background-color: var(--button-glass-bg);
  height: 16px;
  padding: 0 6px;
  border-radius: 8px;
  font-size: 12px;
}

#Sqeleton > div.body div.bottom-pane div.tabs button.active > span:not(.count) {
  color: var(--accent-light);
}

#Sqeleton > div.body div.bottom-pane div.tabs button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent);
}

#Sqeleton > div.body div.bottom-pane div.pane-content {
  padding: 10px;
  overflow-y: auto;
}
#Sqeleton > div.body div.bottom-pane div.pane-content div.error-row {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--clr-red-bg);
  border-radius: 10px;
  padding: 3px 5px;
  margin-bottom: 3px;
}

#Sqeleton > div.body div.bottom-pane div.pane-content div.error-row span.lucide {
  color: var(--clr-red-fg);
}

#Sqeleton > div.body div.bottom-pane div.pane-content div.error-row span.index {
  margin-left: auto;
  opacity: 0.5;
}

#Sqeleton > div.body div.bottom-pane div.pane-content span.lucide {
  font-size: 16px;
  height: 16px;
}
#Sqeleton > div.body div.bottom-pane div.pane-content button.query-row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3px 5px;
  border-radius: 6px;
  width: 100%;
  outline: none;
  background-color: transparent;
}

#Sqeleton > div.body div.bottom-pane div.pane-content button.query-row:hover {
  background-color: var(--button-bg);
}

#Sqeleton > div.body div.bottom-pane div.pane-content button.query-row span.lucide {
  color: var(--accent);
}

#Sqeleton > div.body div.bottom-pane div.pane-content button.query-row span.query {
  font-family: "Fira Code";
  font-size: 12px;
  text-align: left;
}

#Sqeleton > div.body div.bottom-pane div.pane-content button.query-row span.index {
  margin-left: auto;
  opacity: 0.5;
}
