#Sqeleton > div.body div.main-content {
  height: 100%;
  display: flex;
  align-items: center;
}

#Sqeleton > div.body div.main-content div.sidebar {
  width: 250px;
  height: 100%;
}
#Sqeleton > div.body div.main-content div.editor {
  border-left: var(--win-border);
  width: 0;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Sqeleton > div.body div.main-content div.editor > * {
  width: 100%;
}

#Sqeleton > div.body div.main-content div.action-bar {
  height: 40px;
}

#Sqeleton > div.body div.main-content div.code-editor-wrapper {
  height: 0;
  flex-grow: 1;
  border-top: var(--win-border);
  border-bottom: var(--win-border);
}

#Sqeleton > div.body div.main-content div.bottom-pane {
  height: 200px;
}
