#Sqeleton > div.body div.top {
  display: flex;
  height: 0;
  flex-grow: 1;
  border-bottom: var(--win-border);
}

#Sqeleton > div.body div.sidebar {
  width: 200px;
  height: 100%;
  border-right: var(--win-border);
}

#Sqeleton > div.body div.main-content {
  display: flex;
  flex-direction: column;
  width: 0;
  flex-grow: 1;
  height: 100%;
}

#Sqeleton > div.body div.sql-editor {
  height: 0;
  flex-grow: 1;
  border-top: var(--win-border);
}

#Sqeleton > div.body div.sql-editor textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: var(--win-bg);
  color: var(--fg);
  border: none;
  resize: none;
  font-family: "Source Code Pro";
}

#Sqeleton > div.body div.bottom-pane {
  height: 35%;
  border-top: var(--win-border);
}
