#Sqeleton > div.body div.main-content {
  height: calc(100% - 26px);
  display: flex;
  align-items: center;
  border-bottom: var(--win-border);
}

#Sqeleton > div.body div.main-content div.sidebar {
  width: 100%;
  height: 100%;
}

#Sqeleton > div.body div.main-content div.editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Sqeleton > div.body div.main-content div.editor > * {
  width: 100%;
}

#Sqeleton > div.body div.main-content div.action-bar {
  height: 40px;
}

#Sqeleton > div.body div.main-content div.editor div.code-editor-wrapper {
  height: 0;
  flex-grow: 1;
  border-top: var(--win-border);
}

#Sqeleton > div.body div.main-content div.editor.maximize-bottom > div.code-editor-wrapper {
  display: none;
}

#Sqeleton > div.body div.main-content div.bottom-pane {
  height: 100%;
}

#Sqeleton > div.body div.status-bar {
  height: 26px;
  display: flex;
  align-items: center;
}

#Sqeleton > div.body div.splitpanes__pane {
  display: flex;
}

#Sqeleton > div.body div.editor div.splitpanes__pane {
  flex-direction: column;
}

#Sqeleton > div.body p.empty {
  padding: 0 17px;
  opacity: 0.5;
}
