#Sqeleton > div.body div.opened-editors {
  overflow-x: scroll;
  padding: 10px;
  padding-right: 0;
  border-bottom: var(--win-border);
  white-space: nowrap;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

#Sqeleton > div.body div.opened-editors button.query {
  padding: 0 10px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  outline: none;
  border-radius: 6px;
  margin-right: 10px;
  background-color: transparent;
  min-width: fit-content;
}

#Sqeleton > div.body div.opened-editors button.selected {
  background-color: var(--button-bg);
}

#Sqeleton > div.body div.opened-editors button.add {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  position: sticky;
  right: 0;
  min-width: 50px;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
  background-color: var(--win-bg);
  outline: none;
  border-radius: 0;
  opacity: 1;
}

#Sqeleton > div.body div.opened-editors button.add:hover {
  color: var(--accent-textual);
}
