#Sqeleton > div.body div.opened-editors {
  overflow-x: scroll;
  padding: 6px;
  border-bottom: var(--win-border);
  white-space: nowrap;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  height: 43px;
  scrollbar-width: none;
}

#Sqeleton > div.body div.opened-editors button.query {
  padding: 0 8px;
  height: 26px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  outline: none;
  border-radius: 6px;
  margin-right: 2px;
  background-color: transparent;
  min-width: fit-content;
}

#Sqeleton > div.body div.opened-editors button.selected {
  background-color: var(--button-bg);
}

#Sqeleton > div.body div.opened-editors button.query span.lucide {
  color: var(--accent-textual);
}

#Sqeleton > div.body div.opened-editors button.query div.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--fg);
}
