@import url("./adminportal/page/dashboard.css");
@import url("./adminportal/page/bughunt.css");
@import url("./adminportal/page/viewbugreport.css");
@import url("./adminportal/page/viewuser.css");
@import url("./adminportal/page/users.css");
@import url("./adminportal/page/shares.css");
@import url("./adminportal/page/viewshare.css");
@import url("./adminportal/page/filesystems.css");
@import url("./adminportal/page/tokens.css");
@import url("./adminportal/page/activities.css");
@import url("./adminportal/page/scopes.css");
@import url("./adminportal/page/viewscopes.css");
@import url("./adminportal/sidebar.css");
@import url("./adminportal/userdata.css");

#AdminPortal {
  --font-size: 12px;
}

#AdminPortal > div.body div.titlebar.custom button.icon-arrow-up {
  padding: 0;
  font-size: 16px;
  width: 30px;
  height: 30px;
  margin: 0 -5px;
  background-color: transparent;
}

#AdminPortal > div.body {
  padding: 0;
  display: flex;
}

#AdminPortal > div.body .suggested {
  min-width: unset;
}

#AdminPortal > div.body :disabled {
  opacity: 1;
  color: var(--button-glass-hover-bg);
}

#AdminPortal > div.body *,
#AdminPortal > div.body *::before,
#AdminPortal > div.body *::after {
  transition: unset !important;
}

#AdminPortal > div.body > div.container {
  width: calc(100% - 150px);
  height: 100%;
  background-color: var(--win-bg);
}

#AdminPortal > div.body > div.container > div.titlebar {
  border-bottom: var(--win-border);
}

#AdminPortal > div.body > div.container div.page-content {
  height: calc(100% - 40px - 31px);
  overflow: hidden;
}

#AdminPortal > div.body div.status-bar {
  display: flex;
  align-items: center;
  height: 31px;
  border-top: var(--win-border);
  padding: 0 7px;
  gap: 8px;
}

#AdminPortal > div.body div.status-bar button.lock {
  margin-left: auto;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: var(--clr-green-fg);
  color: var(--clr-green-bg);
}

#AdminPortal > div.body div.status-bar button.lock.icon-lock-open {
  background-color: var(--clr-red-fg);
  color: var(--clr-red-bg);
}

#AdminPortal > div.body div.status-bar div.sep {
  width: 1px;
  height: 20px;
  background-color: var(--button-glass-hover-bg);
}

#AdminPortal > div.body div.status-bar div.crumbs {
  display: flex;
  align-items: center;
  gap: 5px;
}

#AdminPortal > div.body div.status-bar div.crumbs p {
  opacity: 0.5;
}

#AdminPortal > div.body div.status-bar div.crumbs span.lucide {
  opacity: 0.5;
  height: 12px;
}

#AdminPortal > div.body div.status-bar div.crumbs p:last-child {
  font-weight: bold;
  opacity: 1;
}

#AdminPortal > div.body div.page-content > div.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

#AdminPortal > div.body div.page-content > div.no-access {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

#AdminPortal > div.body div.page-content > div.no-access h1 {
  font-size: 18px;
}

#AdminPortal > div.body div.page-content > div.no-access p {
  opacity: 0.5;
}

#AdminPortal > div.body div.page-content > div.no-access span.lucide {
  font-size: 64px;
  margin-bottom: 10px;
  color: var(--accent-lighter);
}

#AdminPortal .redacted {
  filter: blur(5px);
}

#AdminPortal .redacted:hover {
  filter: none;
}
