#systemSettings #UrlProfilePicture > div.body {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#systemSettings #UrlProfilePicture > div.body div.top {
  display: flex;
  align-items: start;
  gap: 15px;
  padding: 15px;
  height: 0;
  flex-grow: 1;
}

#systemSettings #UrlProfilePicture > div.body div.top img {
  height: 48px;
}

#systemSettings #UrlProfilePicture > div.body div.top h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

#systemSettings #UrlProfilePicture > div.body div.top input {
  width: 100%;
  margin-top: 15px;
}