div.shell div.actioncenter {
  width: 400px;
  height: 100%;
  background-color: var(--glass-bg);
  border-radius: 10px;
  border: var(--win-border);
  max-height: 100%;
  translate: 400px 0;
  opacity: 0;
  transition: translate 0.3s, opacity 0.2s;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px 5px #0003;
}

div.shell div.actioncenter.opened {
  translate: 0;
  opacity: 1;
  pointer-events: initial;
}
