@import url("./actioncenter/clock.css");
@import url("./actioncenter/cardstack.css");
@import url("./actioncenter/notifications.css");
@import url("./actioncenter/quicksettings.css");

div.shell div.actioncenter {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 400px;
  height: calc(100% - 20px);
  background-color: var(--glass-bg);
  border-radius: 10px;
  border: var(--border);
  max-height: 100%;
  translate: 400px 0;
  opacity: 0;
  transition: translate 0.3s, opacity 0.2s;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px 5px #0003;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.shell div.actioncenter.opened {
  translate: 0;
  opacity: 1;
  pointer-events: initial;
}

div.shell div.actioncenter div.top {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 110px;
  min-height: 110px;
}

div.shell div.actioncenter div.top > div {
  border-radius: 10px;
  height: 110px;
}
