@import url("./actioncenter/clock.css");
@import url("./actioncenter/cardstack.css");
@import url("./actioncenter/notifications.css");
@import url("./actioncenter/quicksettings.css");

div.shell div.actioncenter {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 400px;
  height: calc(100% - 20px);
  background-color: var(--glass-bg);
  border-radius: 15px;
  border: var(--border);
  max-height: 100%;
  translate: 420px 0;
  opacity: 0;
  transition:
    translate 0.3s,
    opacity 0.2s;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  box-shadow: 0 5px 15px 5px #0003;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

div.shell.docked div.actioncenter {
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  border-left: var(--border);
  border-radius: 0;
}

div.shell.docked div.actioncenter::before {
  border-radius: 0 !important;
}

div.shell div.actioncenter.opened {
  translate: 0;
  opacity: 1;
  pointer-events: initial;
}

div.shell div.actioncenter div.top {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 110px;
  min-height: 110px;
}

div.shell div.actioncenter div.top > div {
  border-radius: 10px;
  height: 110px;
  box-shadow: var(--secondary-box-shadow);
  outline: var(--button-glass-bg) 1px solid;
  outline-offset: -1px;
}

.theme-light div.shell div.actioncenter::before {
  opacity: 0.1;
}
