div.shell div.push-notification {
  position: absolute;
  bottom: 10px;
  right: 10px;
  max-width: 400px;
  backdrop-filter: blur(var(--blur));
  border: var(--border);
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 15px;
  background-color: var(--glass-bg);
  border-radius: var(--win-border-rad);
  height: fit-content;
  overflow: hidden;
  transition: opacity 0.3s, visibility 0.3s, translate 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), pointer-events 0s;
  min-width: 300px;
  min-height: 100px;
}

div.shell div.push-notification:not(.show) {
  visibility: hidden;
  translate: calc(100% + 20px) 0;
  pointer-events: none;
}

div.shell div.push-notification > div.content {
  flex-grow: 1;
  max-width: calc(100% - 58px);
}

div.shell div.push-notification h1.header {
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
}

div.shell div.push-notification h1.header > span:first-of-type {
  margin-right: auto;
}

div.shell div.push-notification h1.header > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* min-width: fit-content; */
  max-width: calc(100% - 30px);
  flex-grow: 1;
  margin-right: auto;
}

div.shell div.push-notification.no-image > div.content {
  max-width: 100%;
}

div.shell div.push-notification h1.header button {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
}

div.shell div.push-notification img.icon {
  height: 48px;
}

div.shell div.push-notification div.left span.lucide {
  font-size: 32px;
  color: var(--accent-lighter);
}

div.shell div.push-notification div.buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 32px;
  margin-top: 15px;
}

div.shell div.push-notification div.buttons button {
  flex-grow: 1;
  margin: 0;
  background-color: var(--button-glass-bg);
  height: 32px;
}

div.shell div.push-notification div.buttons button:hover {
  background-color: var(--button-glass-hover-bg);
}
div.shell div.push-notification div.buttons button:active {
  background-color: var(--button-glass-active-bg);
}
