@import url("./startmenu/folders.css");
@import url("./startmenu/applist.css");
@import url("./startmenu/bottom.css");

div.shell div.startmenu {
  width: 420px;
  height: 490px;
  background-color: var(--glass-bg);
  border-radius: 15px;
  transition:
    translate 0.25s,
    opacity 0.2s,
    pointer-events 0s,
    visibility 0.25s,
    width 0.25s,
    height 0.25s;
  z-index: 10;
  border: var(--border);
  max-height: 100%;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  box-shadow: 0 5px 15px 5px #0003;
  padding: 10px;
}

div.shell div.startmenu.searching {
  width: 530px;
  height: 506px;
}

div.shell div.startmenu:not(.opened) {
  translate: 0 50px;
  opacity: 0;
  pointer-events: none !important;
  visibility: hidden !important;
}

div.shell div.startmenu div.top {
  display: flex;
  gap: 10px;
  height: calc(100% - 60px);
  max-height: calc(100% - 60px);
  margin-bottom: 10px;
}

.theme-light div.shell div.startmenu::before {
  opacity: 0.1;
}
