@import url("./taskbar/openedapps.css");
@import url("./taskbar/calendar.css");
div.shell div.taskbar {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  height: 52px;
  margin: 10px;
  padding: 5px;
  margin-top: 0;
  gap: 5px;
  z-index: 100;
  background-color: var(--glass-bg);
  border-radius: 15px;
  border: var(--border);
  box-shadow: var(--secondary-box-shadow);
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  transition:
    translate 0.3s,
    opacity 0.3s,
    margin-top 0.3s;
  translate: 0 70px;
  animation: arcShell_taskbar_appear 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards !important;
}

div.shell.docked div.taskbar.shell-colored::before {
  border-radius: 0;
}

:root #main:has(#arcShell div.shell) {
  --taskbar-allocation: 72px;
}

:root #main:has(#arcShell div.shell.docked) {
  --taskbar-allocation: 51px;
}

div.shell.docked div.taskbar {
  width: 100%;
  margin: 0;
  border-radius: 0;
  border: none;
  border-top: var(--border);
  box-shadow: none;
  height: 51px;
}

#arcShell div.shell div.taskbar > button {
  height: 40px;
  width: 40px;
  min-width: 40px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--shell-component-bg);
  font-size: 18px;
  border-radius: 10px;
  outline: var(--shell-component-outline) 1px solid;
  outline-offset: -1px;
}

#arcShell div.shell div.taskbar > button:hover {
  background-color: var(--button-glass-hover-bg);
}

#arcShell div.shell div.taskbar > button:active {
  background-color: var(--button-glass-active-bg);
}

div.shell div.taskbar button.start-button img {
  height: 30px;
}

div.shell div.taskbar button.action-center-button span {
  font-size: 18px;
}

div.shell div.taskbar button.clock-button,
div.shell div.taskbar div.status-area,
div.shell div.taskbar div.tray-icons {
  background-color: var(--shell-component-bg);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
  outline: var(--shell-component-outline) 1px solid;
  outline-offset: -1px;
}

div.shell div.taskbar div.tray-icons {
  padding: 0 3px;
}

div.shell div.taskbar div.status-area {
  gap: 10px;
  padding: 0 10px;
  min-width: 40px;
  justify-content: center;
}

div.shell div.taskbar div.tray-icons div.icon,
div.shell div.taskbar div.stack-busy,
div.shell div.taskbar div.battery {
  display: flex;
  align-items: center;
  gap: 5px;
}

div.shell div.taskbar div.stack-busy span.lucide:not(.busy) {
  opacity: 0.5;
}

div.shell div.taskbar div.status-area span.lucide {
  font-size: 18px;
}

div.shell div.taskbar > *:not(.opened-apps) {
  min-width: fit-content;
}

div.shell div.taskbar div.pinned-apps {
  height: 40px;
  padding: 3px;
  background-color: var(--shell-component-bg);
  border-radius: 10px;
  outline: var(--shell-component-outline) 1px solid;
  outline-offset: -1px;
}

div.shell div.taskbar div.pinned-apps img {
  height: 24px;
}

div.shell div.taskbar div.pinned-apps > button {
  width: 34px;
  height: 34px;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 7px;
}

#arcShell div.shell div.taskbar div.pinned-apps > button:hover {
  background-color: var(--shell-component-bg);
}

#arcShell div.shell div.taskbar div.pinned-apps > button:active {
  background-color: var(--button-glass-active-bg);
}

div.shell div.taskbar div.pinned-apps > button + button {
  margin-left: 3px;
}

#arcShell div.taskbar div.tray-icons > div.icon,
#arcShell div.taskbar div.tray-icons > div.icon > button.trigger {
  margin: 0;
  padding: 0;
  width: 34px;
  min-width: 34px;
  height: 34px;
  border-radius: 8px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#arcShell div.taskbar div.tray-icons > div.icon > button.trigger:hover {
  background-color: var(--shell-component-bg);
}

#arcShell div.taskbar div.tray-icons > div.icon > button.trigger:disabled {
  opacity: 1;
}

#arcShell div.taskbar div.tray-icons > div.icon > button.trigger.active {
  background-color: var(--accent-transparent);
}

#arcShell div.taskbar div.tray-icons > div.icon > button.trigger img {
  height: 20px;
}

#arcShell div.taskbar div.tray-icons > div.icon > div.popup {
  --w: 150px;
  --h: 200px;
  position: absolute;
  top: calc(0px - var(--h) - 10px);
  width: var(--w);
  height: var(--h);
  background-color: var(--win-bg);
  backdrop-filter: blur(var(--glass-blur));
  border: var(--border);
  border-radius: var(--win-border-rad);
  margin-top: 20px;
  scale: 0.9;
  opacity: 0;
  pointer-events: none !important;
  overflow: hidden;
  transition:
    scale 0.2s,
    margin 0.2s,
    opacity 0.2s;
}

#arcShell div.taskbar div.tray-icons > div.icon > div.popup.visible {
  opacity: 1;
  margin-top: 0;
  pointer-events: initial !important;
  scale: 1;
}

#arcShell div.taskbar div.tray-icons > div.icon > div.popup:not(.visible) * {
  pointer-events: none !important;
}

#arcShell div.taskbar div.tray-icons > div.icon > div.popup:not(.visible) * {
  pointer-events: none !important;
}

@keyframes arcShell_taskbar_appear {
  0% {
    translate: 0 70px;
  }
  100% {
    translate: 0;
  }
}

div.shell.has-fullscreen div.taskbar {
  translate: 0 70px !important;
}

div.shell div.taskbar div.clock {
  display: flex;
  justify-content: end;
}

div.shell div.taskbar button.clock-button {
  background-color: var(--button-glass-bg);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px !important;
  border-radius: 10px;
  outline: var(--button-glass-bg) 1px solid;
  outline-offset: -1px;
  width: fit-content !important;
  font-size: 14px !important;
}

div.shell div.taskbar button.clock-button:hover {
  background-color: var(--button-glass-hover-bg);
}

div.shell div.taskbar button.clock-button:active {
  background-color: var(--button-glass-active-bg);
  opacity: 0.5;
}

div.shell div.taskbar button.clock-button.active {
  background-color: var(--accent-light) !important;
  color: var(--win-bg) !important;
}

div.shell div.shell div.taskbar button.clock-button.active,
#arcShell div.shell div.taskbar button.workspace-manager-button.active,
#arcShell div.shell div.taskbar button.action-center-button.active {
  background-color: var(--accent-light) !important;
}

div.shell div.shell div.taskbar button.clock-button.active span,
#arcShell div.shell div.taskbar button.workspace-manager-button.active span,
#arcShell div.shell div.taskbar button.action-center-button.active span {
  color: var(--win-bg) !important;
}

.theme-light div.shell div.taskbar::before {
  opacity: 0.1;
}
