:root div.window#bootScreen {
  --fg: #eee;
  --bg: #000;
}

div.window#bootScreen > div.body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 6vw 0;
  justify-content: space-around;
}

div.window#bootScreen div.body > img {
  height: 200px;
}

div.window#bootScreen div.body > img.gray {
  filter: grayscale(50%);
  background-image: url("../../../assets/branding/glow-red.png");
}

div.window#bootScreen p.status {
  text-align: center;
  font-family: var(--font);
  font-size: 16px;
  color: var(--fg);
  margin: 0;
}

div.window#bootScreen div.version {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin: 20px 0;
  opacity: 1;
  font-family: "Source Code Pro";
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

div.window#bootScreen div.version span.string {
  opacity: 0.4;
}

div.window#bootScreen div.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
