#initialSetupWizard {
  background-image: url("../../../assets/bg/img15.jpg");
  background-position: center;
  background-size: cover;
}

#initialSetupWizard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0004;
  z-index: 0;
}

#initialSetupWizard > div.body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#initialSetupWizard div.container {
  width: 550px;
  height: 450px;
  background-color: var(--glass-bg);
  border: var(--win-border);
  border-radius: 10px;
  backdrop-filter: blur(var(--blur));
  scale: 0.9;
  opacity: 0;
  pointer-events: none;
  transition: scale 0.3s, opacity 0.3s, pointer-events 0s;
}

#initialSetupWizard div.container.show {
  scale: 1;
  opacity: 1;
  pointer-events: initial;
}

#initialSetupWizard div.container > div {
  transition: opacity 0.2s, pointer-events 0s;
}

#initialSetupWizard div.container > .hide {
  opacity: 0;
  pointer-events: none;
}

#initialSetupWizard div.content {
  padding: 15px;
  height: calc(100% - 51px);
}
#initialSetupWizard div.actions {
  display: flex;
  align-items: center;
  height: 51px;
  border-top: var(--win-border);
  padding: 10px;
  justify-content: end;
  gap: 10px;
}

#initialSetupWizard div.actions div.left {
  margin-right: auto;
}

#initialSetupWizard div.actions button {
  border: none;
  background-color: var(--button-glass-bg);
  border-radius: 8px;
  padding: 0 15px;
  height: 30px;
  transition: background-color 0.2s, opacity 0.2s, filter 0.2s, scale 0.2s;
}

#initialSetupWizard div.actions button:disabled {
  opacity: 0.5;
}

#initialSetupWizard div.actions button:not(.suggested):hover {
  background-color: var(--button-glass-hover-bg);
}

#initialSetupWizard div.actions button:not(.suggested):active {
  background-color: var(--button-glass-active-bg);
}

#initialSetupWizard div.hero-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#initialSetupWizard div.hero-page > .lucide {
  width: 72px;
  height: 72px;
  stroke: var(--accent-light);
  margin-bottom: 20px;
}

#initialSetupWizard div.hero-page > .lucide path {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: draw 2s 0.2s forwards;
  stroke: inherit;
}

#initialSetupWizard div.hero-page > .lucide.lucide-rocket path {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
}

#initialSetupWizard div.hero-page > .lucide.lucide-scale path {
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
}

#initialSetupWizard div.hero-page > .lucide.lucide-send path {
  stroke-dasharray: 62;
  stroke-dashoffset: 62;
}

#initialSetupWizard div.hero-page > .lucide.lucide-flag path {
  stroke-dasharray: 58;
  stroke-dashoffset: 58;
}

#initialSetupWizard div.hero-page > h1 {
  font-size: 22px;
}

#initialSetupWizard div.hero-page > p.subtitle {
  opacity: 0.5;
}

#initialSetupWizard div.hero-page > p.message {
  margin-top: 30px;
  max-width: 80%;
  text-align: center;
}

#initialSetupWizard div.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#initialSetupWizard div.form-page h1,
#initialSetupWizard div.form-page p.subtitle {
  text-align: center;
}

#initialSetupWizard div.form-page h1 {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
}

#initialSetupWizard div.form-page p.subtitle {
  margin-bottom: 40px;
}

#initialSetupWizard div.form-page div.fields {
  width: 400px;
  /* margin: 0 auto; */
}

#initialSetupWizard div.form-page div.fields div.field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#initialSetupWizard div.form-page div.fields div.field.username input {
  margin-right: -22px;
  padding-right: 24px;
}

#initialSetupWizard
  div.form-page
  div.fields
  div.field.username
  div.html-spinner {
  margin-right: 6px;
}

#initialSetupWizard div.form-page div.fields div.field.email input {
  margin-right: -22px;
  padding-right: 24px;
}

#initialSetupWizard div.form-page div.fields div.field.email div.html-spinner {
  margin-right: 6px;
}
#initialSetupWizard div.form-page div.fields div.field > div.duo {
  display: flex;
  gap: 10px;
}

#initialSetupWizard div.form-page div.fields div.field > div.duo input {
  width: 130px;
}

#initialSetupWizard div.form-page div.fields div.field > input,
#initialSetupWizard div.form-page div.fields div.field > div.duo {
  width: 270px;
  margin-left: auto;
}

#initialSetupWizard div.form-page p.disclaimer {
  margin-top: auto;
  width: 100%;
  opacity: 0.5;
  font-size: 12px;
}

#initialSetupWizard div.form-page input {
  border: var(--win-border);
  height: 30px;
  border-radius: 6px;
  background: var(--glass-bg);
  padding: 0 10px;
}

#initialSetupWizard div.form-page input:focus {
  border-color: var(--accent);
}

#initialSetupWizard div.form-page input.taken {
  border-color: var(--clr-red-fg);
}

#initialSetupWizard div.form-page input.available {
  border-color: var(--clr-green-fg);
}

#initialSetupWizard div.form-page p.error {
  color: var(--clr-red-fg);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#initialSetupWizard div.form-page p.error + p.error {
  margin-top: 0;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
