@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

div.window#loginApp div.body {
  background: linear-gradient(to bottom, #0006 0%, #0006 100%),
    url("../../../assets/bg/img15.jpg");
  background-position: center;
  background-size: cover;
}

div.window#loginApp div.lock-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh 0;
  background-image: url("../../../assets/bg/img15.jpg");
  background-position: center;
  background-size: cover;
  transition: translate 0.5s;
}

div.window#loginApp div.lock-screen.hide {
  translate: 0 -100vh;
}

div.window#loginApp div.lock-screen h1 {
  font-size: 96px;
  font-family: "Fredoka";
  font-weight: 500;
  color: #fff;
}

div.window#loginApp div.lock-screen p.date {
  font-size: 20px;
  color: #fff;
  opacity: 0.7;
}

@keyframes new-login-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
