@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

div.window#loginApp > div.body {
  padding: 0;
}

div.window#loginApp > div.body div.container {
  background: linear-gradient(to bottom, #0007 0%, #0007 100%), var(--bgurl);
  background-position: center;
  background-size: cover;
  transition: all 0.3s !important;
}

div.window#loginApp > div.body div.container.server-bg {
  background: var(--bgurl);
  background-position: center;
  background-size: cover;
}

div.window#loginApp > div.body div.container.safemode {
  outline: #ff0 2px solid !important;
  outline-offset: -2px !important	;
}

div.window#loginApp > div.body button:not(.continue) {
  padding: 8px 20px;
  background-color: #fff1;
  border: none;
  border-radius: 10px;
  backdrop-filter: blur(var(--blur));
  transition: scale 0.2s, background-color 0.2s;
  border: var(--button-glass-bg) 1px solid;
}

div.window#loginApp > div.body button:not(.continue):hover {
  background-color: #fff2;
}

div.window#loginApp > div.body button:not(.continue):active {
  /* opacity: 0.7; */
  scale: 0.95;
}

div.window#loginApp > div.body div.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  transition: opacity 0.3s, pointer-events 0s;
}

div.window#loginApp > div.body div.container.full {
  background-color: #000;
}
div.window#loginApp > div.body div.container.hide {
  opacity: 0;
  pointer-events: none;
}

div.window#loginApp > div.body div.container .profile-picture {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-image: var(--src);
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s;
}

div.window#loginApp > div.body div.container h1.name {
  font-size: 20px;
  margin: -10px 0;
}

div.window#loginApp > div.body div.container div.field {
  display: flex;
  align-items: center;
  width: 220px;
  height: 37px;
  border-radius: 10px;
  background-color: #fff1;
  border: #fff2 1px solid;
  overflow: hidden;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  margin-bottom: 10px;
}

div.window#loginApp > div.body div.container div.field:last-child {
  margin-bottom: 0;
}

div.window#loginApp > div.body div.container div.field div.lucide {
  width: 36px;
  min-width: 36px;
  height: 35px;
  border-right: #fff2 1px solid;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.window#loginApp > div.body div.container div.field input {
  background-color: transparent;
  border: none;
  color: #fff;
  flex-grow: 1;
  padding: 0 10px;
  height: 35px;
  max-width: calc(100% - 36px);
}

div.window#loginApp > div.body div.container div.field input::placeholder {
  color: #fff5;
}

div.window#loginApp > div.body div.login-form {
  display: flex;
  align-items: end;
  gap: 10px;
  width: 220px;
}

div.window#loginApp > div.body div.login-form button.continue {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: #fff3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  backdrop-filter: blur(var(--blur));
  transition: background-color 0.2s, opacity 0.2s;
  border: #fff2 1px solid;
}

div.window#loginApp > div.body div.login-form button.continue:hover:not(:disabled) {
  background-color: #fff5;
}

div.window#loginApp > div.body div.login-form button.continue:disabled,
div.window#loginApp > div.body div.login-form button.continue:active {
  opacity: 1;
  background-color: #fff1;
}
div.window#loginApp > div.body div.login-form button.continue:disabled span.lucide,
div.window#loginApp > div.body div.login-form button.continue:active span.lucide {
  color: #aaa !important;
}
div.window#loginApp > div.body p.error-message {
  font-size: 16px;
}

div.window#loginApp > div.body p.loading {
  display: flex;
  align-items: center;
  gap: 10px;
  /* font-weight: bold; */
  font-size: 18px;
  color: #fff;
  text-align: center;
}

div.window#loginApp > div.body div.power-options {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

div.window#loginApp > div.body div.power-options button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 36px;
  height: 36px;
  font-size: 24px;
  border-radius: 50%;
  background-color: #fff2;
  border: none;
  font-size: 16px;
  transition: opacity 0.2s, scale 0.2s;
  outline: #fff3 1px solid;
  outline-offset: -1px;
}

div.window#loginApp > div.body div.power-options button:hover {
  scale: 1.1;
}

div.window#loginApp > div.body div.power-options button:active {
  opacity: 0.7;
  scale: 0.95;
}

div.window#loginApp > div.body div.power-options button.shutdown {
  background-color: #fff4;
  width: 50px;
  height: 50px;
  font-size: 24px;
}

div.window#loginApp > div.body p.bottom-text {
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  opacity: 0.5;
}

@keyframes new-login-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
