#MobileBlock {
  z-index: 10000000000000000000000000000000000000000000000000000000000000000000000;
  display: none !important;
  background-color: #000;
}
#MobileBlock > div.body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#MobileBlock > div.body * {
  color: #ddd !important;
}
#MobileBlock > div.body span.lucide {
  font-size: 128px;
  opacity: 0.5;
}

#MobileBlock > div.body p {
  position: absolute;
  bottom: 10vw;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  #MobileBlock {
    display: block !important;
  }

  #appRenderer {
    opacity: 1 !important;
  }

  #appRenderer > div.window:not(#MobileBlock) {
    display: none !important;
  }
}
