#SwitchServer > div.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#SwitchServer > div.body > h1 {
  font-size: 20px;
  margin-bottom: 30px;
}

#SwitchServer > div.body div.selector {
  display: flex;
  align-items: center;
  gap: 15px;
}

#SwitchServer > div.body div.selector div.server-option button.selector,
#SwitchServer > div.body div.selector div.server-option {
  width: 100px;
  height: 95px;
}

#SwitchServer > div.body div.selector div.server-option button.selector {
  margin-bottom: 10px;
  padding: 10px 5px;
  background-color: transparent;
}

#SwitchServer > div.body div.selector div.server-option button.selector:hover {
  background-color: var(--button-glass-bg);
}

#SwitchServer > div.body div.selector div.server-option button.selector span.lucide {
  color: var(--accent-light);
  font-size: 48px;
}

#SwitchServer > div.body div.selector div.server-option button.selector p.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#SwitchServer > div.body div.selector div.server-option button.selector.selected {
  background-color: var(--button-glass-bg);
  outline: var(--button-glass-bg) 1px solid;
  outline-offset: -1px;
}

#SwitchServer > div.body div.selector div.server-option div.options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#SwitchServer > div.body div.selector div.server-option div.options button {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 16px;
  outline: var(--button-glass-bg) 1px solid;
  outline-offset: -1px;
}

#SwitchServer > div.body button.add-server {
  translate: 0 100px;
  outline: var(--button-glass-bg) 1px solid;
  outline-offset: -1px;
}

#SwitchServer > div.body div.connection-error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#SwitchServer > div.body div.connection-error * {
  color: var(--clr-red-fg);
}
