@import url("./creator/actions.css");
@import url("./creator/fields.css");

#BugHuntCreator {
  min-height: fit-content !important;
}

#BugHuntCreator div.titlebar button.feedback {
  pointer-events: none;
  opacity: 0;
}

#BugHuntCreator > div.body {
  padding: 0;
  background-color: var(--win-bg);
  height: 100%;
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: column; */
}

#BugHuntCreator > div.body div.fields {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
}
#BugHuntCreator > div.body div.report-body {
  width: 100%;
  height: calc(100% - 50px - 50px - 60px);
  border-bottom: var(--win-border);
  overflow: hidden;
}

#BugHuntCreator > div.body div.report-body div.carta-editor {
  height: 100%;
  border: none;
}

#BugHuntCreator > div.body div.report-body div.carta-wrapper {
  height: calc(100% - 50px);
}

#BugHuntCreator > div.body div.report-body div.markdown-body {
  height: 100%;
}

#BugHuntCreator > div.body div.notice {
  padding: 10px;
  opacity: 0.5;
  height: 60px;
}
